<div ng-include src="'views/admin/GuideRibbon.html'"></div>

<div class="first-revenue-admin">
  <div ng-switch="layout.view">
    <div ng-switch-when="summary">
      <div ng-include="'views/admin/Summary.html'"></div>
    </div>
    <div ng-switch-when="presence">
      <div ng-include="'views/admin/Presence.html'"></div>
    </div>
    <div ng-switch-when="users">
      <div ng-include="'views/admin/Users.html'"></div>
    </div>
    <div ng-switch-when="admins">
      <div ng-include="'views/admin/Admins.html'"></div>
    </div>
    <div ng-switch-when="models">
      <div ng-include="'views/admin/Models.html'"></div>
    </div>
    <div ng-switch-when="invites">
      <div ng-include="'views/admin/Invites.html'"></div>
    </div>
    <div ng-switch-when="singly">
      <div ng-include="'views/admin/Singly.html'"></div>
    </div>
    <div ng-switch-default>
      <h1>Unknown admin page selected</h1>
    </div>
  </div>
</div>

<div ng-include src="'views/admin/PeerRibbon.html'"></div>
