<div class="first-revenue-home">
  <div ng-controller="HomeTabsController">

    <div class="tabbable" ng-model="homeTabName">
      <div class="tab-pane" title="Welcome" value="welcome">
        <div ng-include="'views/home/Welcome.html'">
        </div>
      </div>
      <div class="tab-pane" title="Angular" value="angular">
        <div ng-include="'views/home/Angular.html'">
        </div>
      </div>
      <div class="tab-pane" title="Preferences" value="pref">
        <div ng-include="'views/home/Pref.html'">
        </div>
      </div>
      <div class="tab-pane" ng-show="user.profile" title="Podio user account" value="user">
        <!--div ng-include="'views/home/podio-user.html'">
        </div-->
      </div>
      <div class="tab-pane" ng-show="user.profile"  title="Podio profile" value="profile">
        <!--div ng-include="'views/home/podio-profile.html'">
        </div-->
      </div>
      <div class="tab-pane" title="Repository" value="repo">
        <div ng-include="'views/home/Repo.html'">
        </div>
      </div>
      <div class="tab-pane" ng-show="user.adminRole" title="{{adminTitle()}}" value="admin">
        <div ng-include="'views/admin/Admin.html'">
        </div>
      </div>
      <div class="tab-pane" ng-show="user.adminRole" title="{{monitoringTitle()}}" value="monitor">
        <div ng-include="'views/admin/Monitor.html'">
        </div>
      </div>
      <div class="tab-pane" ng-show="user.adminRole" title="{{webFormsTitle()}}" value="webforms">
        <!--div ng-include="'views/admin/webforms.html'">
        </div-->
      </div>
    </div>

  </div>
</div>
