<div ng-include src="'views/repo/GuideRibbon.html'"></div>

<div ng-switch on="layout.view">
  <div ng-switch-when="contacts">
    <div ng-include src="'views/repo/Contacts.html'"></div>
  </div>
  <div ng-switch-when="new">
    <div ng-include src="'views/repo/NewModel.html'"></div>
  </div>
  <div ng-switch-when="projects">
    <div ng-include src="'views/repo/Projects.html'"></div>
  </div>

  <div ng-switch-default>
    <div ng-include src="'views/repo/Models.html'"></div>
  </div>
</div>

<div ng-include src="'views/repo/PeerRibbon.html'"></div>
