<div ng-include src="'views/repo/GuideRibbon.html'"></div>

<div ng-switch="layout.view">
  <div ng-switch-when="contacts"
       ng-include="'views/repo/Contacts.html'">
  </div>
  <div ng-switch-when="new"
       ng-include="'views/repo/NewModel.html'">
  </div>
  <div ng-switch-when="projects"
       ng-include="'views/repo/Projects.html'">
  </div>
  <div ng-switch-default
       ng-include="'views/repo/Models.html'">
  </div>
</div>

<div ng-include src="'views/repo/PeerRibbon.html'"></div>
