<div ng-controller="RibbonController"
     class="guide-ribbon"
     ng-init="ribbon = layout.guide"
     ng-class="{'wide-ribbon': layout.guide.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"
       class="ribbon-item"></div>

  <div class="ribbon-item flat-pumpkin">
    <a href="#/repo">
      <i class="icon-folder-open icon-2x"></i>
      <span ng-show="layout.guide.wide">
        Repo
      </span>
    </a>
  </div>
  <div ng-click="layout.setView('summary')"
       ng-class="{'ribbon-item-current': layout.isView('summary')}"
       class="ribbon-item flat-wetasphalt">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Summary
    </span>
  </div>
  <div ng-click="layout.setView('presence')"
       ng-class="{'ribbon-item-current': layout.isView('presence')}"
       class="ribbon-item flat-nephritis">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Presence
    </span>
    <span class="model-count">{{ getSize(admin.presence) }}</span>
  </div>
  <div ng-click="layout.setView('users')"
       ng-class="{'ribbon-item-current': layout.isView('users')}"
       class="ribbon-item flat-belizehole">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Users
    </span>
    <span class="model-count">{{ getSize(admin.users) }}</span>
  </div>
  <div ng-click="layout.setView('admins')"
       ng-class="{'ribbon-item-current': layout.isView('admins')}"
       class="ribbon-item flat-pomegranate">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Admins
    </span>
    <span class="model-count">{{ getSize(admin.admins) }}</span>
  </div>
  <div ng-click="layout.setView('models')"
       ng-class="{'ribbon-item-current': layout.isView('models')}"
       class="ribbon-item flat-wisteria">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Models
    </span>
    <span class="model-count">{{ getSize(admin.models) }}</span>
  </div>
  <div ng-click="layout.setView('invites')"
       ng-class="{'ribbon-item-current': layout.isView('invites')}"
       class="ribbon-item flat-greensea">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Invites
    </span>
    <span class="model-count">{{ getSize(admin.invites) }}</span>
  </div>
  <div ng-click="layout.setView('singly')"
       ng-class="{'ribbon-item-current': layout.isView('singly')}"
       class="ribbon-item flat-turquise">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Singly
    </span>
    <span class="model-count">{{ getSize(admin.singly) }}</span>
  </div>

  <div ng-include src="'views/ribbon/LicenseIcon.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
