<div ng-controller="MonitorController" class="container">
  <div class="row">
    <h2 class="col-xs-12">Monitoring</h2>
  </div>

  <div class="row">
    <h3 class="col-xs-4">Now everyone</h3>
    <div class="col-xs-4">groupName = {{everyone.groupName}}</div>
    <div class="col-xs-4">isSuperGroup = {{everyone.isSuperGroup}}</div>
  </div>

  <div class="row">
    <div class="col-xs-12">Function names in scopeTable.data.now</div>
  </div>
  <div class="row">
    <div class="col-xs-2" ng-repeat="function in everyone.scopeTable.data.now">
      {{function}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      Podio rate limit statistics
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary" ng-click="getRateStats()">Refresh stats</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Rate statistics
    </div>
  </div>
  <div class="row" ng-repeat="(group, stats) in monitor.rateStats">
    <div class="col-xs-1">{{group}}</div>
    <div class="col-xs-11">&nbsp;</div>
    <div class="row" ng-repeat="(key, value) in stats">
      <div class="col-xs-1">&nbsp;</div>
      <div class="col-xs-2">{{key}}</div>
      <div class="col-xs-9">&nbsp;</div>
      <div class="row" ng-repeat="(left, right) in value">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-2">{{left}}</div>
        <div class="col-xs-4">{{timeStamp(left)}}</div>
        <div class="col-xs-3">{{right}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Global statistics
    </div>
  </div>
  <div class="row" ng-repeat="(group, stats) in monitor.globalStats">
    <div class="col-xs-1">{{group}}</div>
    <div class="col-xs-11">&nbsp;</div>
    <div class="row" ng-repeat="(key, value) in stats">
      <div class="col-xs-1">&nbsp;</div>
      <div class="col-xs-2">{{key}}</div>
      <div class="col-xs-9">{{value}}</div>
    </div>
  </div>

  <div ng-repeat="(userKey, userValue) in everyone.users">
    <div class="row">
      <div class="col-xs-9">
        <h3>User client id {{userKey}} (socket id)<h3>
      </div>
      <div class="col-xs-3">
        <h4>adminRole = {{userValue.user.adminRole}}</h4>
      </div>
    </div>

    <div class="row">
      <h4 class="col-xs-3">ready = {{userValue.ready}}</h4>
      <div class="col-xs-1">&nbsp;</div>
      <div class="col-xs-8">now.launched = {{userValue.now.launched}}</div>
    </div>

    <div class="row">
      <div class="col-xs-12">Function names in user.scopeTable.data.now</div>
    </div>
    <div class="row">
      <div class="col-xs-2" ng-repeat="function in userValue.scopeTable.data.now">
        {{function}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">Cookies</div>
    </div>
    <div class="row" ng-repeat="(cookieName, cookieValue) in userValue.user.cookie">
      <div class="col-xs-3" style="word-wrap: break-word;">{{cookieName}}</div>
      <div class="col-xs-9" style="word-wrap: break-word;">{{cookieValue}}</div>
    </div>

    <div ng-hide="userValue.user.session">
      <div class="row">
        <h4 class="col-xs-12">No Session Found</h4>
      </div>
    </div>

    <div ng-show="userValue.user.session">
      <div class="row">
        <h4 class="col-xs-12">Session</h4>
      </div>
      <div class="row">
        <div class="col-xs-2">session.authed</div>
        <div class="col-xs-10">{{userValue.user.session.authed}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">session.lastAccess</div>
        <div class="col-xs-10">{{userValue.user.session.lastAccess}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">session.id</div>
        <div class="col-xs-10">{{userValue.user.session.id}}</div>
      </div>

      <div class="row">
        <div class="col-xs-2">session.cookie</div>
        <div class="col-xs-2">_expires</div>
        <div class="col-xs-8">{{userValue.user.session.cookie._expires}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">path</div>
        <div class="col-xs-8">{{userValue.user.session.cookie.path}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">originalMaxAge</div>
        <div class="col-xs-8">{{userValue.user.session.cookie.originalMaxAge}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">httpOnly</div>
        <div class="col-xs-8">{{userValue.user.session.cookie.httpOnly}}</div>
      </div>

      <div class="row">
        <div class="col-xs-2">session.req</div>
        <div class="col-xs-2">complete</div>
        <div class="col-xs-8">{{userValue.user.session.req.complete}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">method</div>
        <div class="col-xs-8">{{userValue.user.session.req.method}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">url</div>
        <div class="col-xs-8">{{userValue.user.session.req.url}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-2">_startTime</div>
        <div class="col-xs-8">{{userValue.user.session.req._startTime}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">Groups</div>
    </div>
    <div ng-repeat="(groupKey, groupValue) in userValue.groups">
      <div class="row">
        <div class="col-xs-1">Group</div>
        <div class="col-xs-2">{{groupKey}}</div>
        <div class="col-xs-9">Users</div>
      </div>
      <div ng-repeat="(grUser, grUserData) in groupValue.users">
        <div class="row">
          <div class="col-xs-3">&nbsp;</div>
          <div class="col-xs-9">
            {{grUser}}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
