<div class="admin-presence flat-nephritis">
  <h2>{{_.size(admin.presence)}} users monitored</h2>
  <div class="row">
    <div ng-repeat-start="(id, value) in admin.presence track by id"
         class="col-xs-3">
      <div class="thumbnail">
        <span class="pull-left">
          <img ng-src="{{admin.users[id].profile.image}}"
               class="user-icon"
               ng-show="admin.users[id].profile.image"
               title="{{admin.users[id].profile.name}}" />
          <img ng-src="images/bbf82395.light_avatar_small.png"
               class="user-icon"
               ng-hide="admin.users[id].profile.image"
               title="{{admin.users[id].profile.name}}" />
        </span>
        <h4>{{admin.users[id].profile.name}}</h4>
        <div>
          <div>
            <img src="favicon.ico" />
            {{ id }}
          </div>
          <div>
            <i class="icon-time"></i>
            {{ value }}
          </div>
          <div>
            <i ng-class="{'flat-alizarin': value > 0, 'flat-emerland': value < 0}"
               class="icon-signal"></i>
            {{ getISODate(value) }}
          </div>
          <div>
            <!-- Service: {{admin.users[id].profile.service}} -->
            <span first-revenue-service-icon="admin.users[id].profile.service"></span>
            {{admin.users[id].profile.serviceId}}
          </div>
          <div ng-if="admin.users[id].profile.provider == 'singly'">
            <span first-revenue-service-icon="admin.users[id].profile.provider"></span>
            {{admin.users[id].profile.id}}
          </div>
          <!--p>
            Provider: {{admin.users[id].profile.provider}}
            <span first-revenue-service-icon="admin.users[id].profile.provider"></span>
            {{admin.users[id].profile.id}}
          </p-->
        </div>
      </div>
    </div>
    <div ng-repeat-end
         class="xs-visible"
         ng-class="{clearfix: $index % 4 == 3}">
    </div>
  </div>
</div>
