<div class="admin-singly flat-turquoise">
  <h2>{{getSize(admin.singly)}} Singly accounts in the database</h2>
  <div class="row">
    <div ng-repeat-start="(id, singlyAccount) in admin.singly track by id"
         class="col-xs-3">
      <div class="thumbnail">
        <span class="pull-left">
          <img ng-src="{{singlyAccount.image}}"
               class="user-icon"
               ng-show="singlyAccount.image"
               title="{{invite.name}}" />
          <img ng-src="images/bbf82395.light_avatar_small.png"
               class="user-icon"
               ng-hide="singlyAccount.image"
               title="{{singlyAccount.name}}" />
        </span>
        <h4>{{singlyAccount.name}}</h4>
        <div>
          <div>
            <img class="admin-favicon" src="favicon.ico" />
            {{id}}
          </div>
          <div>
            <span first-revenue-service-icon="singlyAccount.service"></span>
            {{singlyAccount.serviceId}}
          </div>
          <div>
            Status: <strong>{{singlyAccount.status}}</strong>
          </div>
          <div>
            <span ng-show="singlyAccount.userId">
              User Id:
              <strong>{{singlyAccount.userId}}</strong>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat-end
         class="xs-visible"
         ng-class="{clearfix: $index % 4 == 3}">
    </div>
  </div>
</div>
