<div class="row">
  <div class="col-xs-12 col-xs-12">
    <h2>Repository</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="thumbnail">
      <span ng-include="'views/dashboard/RepoSummary.html'"></span>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="thumbnail">
      <span ng-include="'views/dashboard/RepoModels.html'"></span>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="thumbnail">
      <span ng-include="'views/dashboard/RepoPeers.html'"></span>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="thumbnail">
      <span ng-include="'views/dashboard/RepoInvites.html'"></span>
    </div>
  </div>
</div>
