<div class="row">
  <div class="col-xs-12">
    <h2>Social accounts and connections</h2>
  </div>
</div>
<div class="row">
  <div ng-repeat="account in getActiveAccounts()"
       class="col-xs-4">
    <div class="thumbnail">
      <span ng-include="'views/dashboard/Account.html'"></span>
    </div>
  </div>
  <div ng-repeat="provider in getUnusedProviders()"
       class="col-xs-4">
    <div class="thumbnail unused-provider">
      <span ng-include="'views/dashboard/Provider.html'"></span>
    </div>
  </div>
</div>
