<div class="pane-name-box">
  <div class="pane-name-cell">
    <div class="pane-name">
      <div class="app-icon-24 icon-{{block.iconId}}"></div>
      {{block.name}}
    </div>
  </div>
</div>

<button class="pane-button btn btn-success"
        title="New sticker">
  <i class="icon-plus icon-white"></i>
</button>

<div class="pane-initials"
     ng-show="canvas.showBlockInitials">
  {{block.initials}}
</div>

<div class="st-box"></div>

<ul class="{{canvas.getStyle()}} pane-sticker">
  <div class="stickynotes">

    <li ng-repeat="(stickerId, sticker) in getStickers(blockId)"
        ng-controller="StickerController"
        class="st-item">

      <div class="st-grad"
           ng-class="{pulsate: stickerId == editor.stickerId, 'st-abs': canvas.getAbs(sticker), 'st-rel': !canvas.getAbs(sticker)}"
           data-id="{{stickerId}}"
           data-cypherid="{{sticker.position.cypherId}}"
           style="{{canvas.getPosition(sticker)}}">

        <div class="st-pop"
             data-color="{{sticker.color}}"
             style="background-color: #{{rainbow.brighten(sticker.color)}}">

          <h4 class="st-head"
              ng-bind-html-unsafe="sticker.title">
            {{sticker.title}}
          </h4>

          <div class="st-notes"
               ng-bind-html-unsafe="sticker.notes">
            {{sticker.notes}}
          </div>

        </div>
      </div>
    </li>
  </div>
</ul>
