<div ng-controller="RibbonController"
     class="guide-ribbon"
     ng-init="ribbon = layout.guide"
     ng-class="{'wide-ribbon': layout.guide.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div ng-click="routeTo('people')"
       zzz-ng-click="layout.setView('contacts')"
       ng-class="{'ribbon-item-current': layout.isView('contacts')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    Manage contacts
  </div>
  <div ng-click="modal.model=true"
       zzz-ng-click="layout.setView('new')"
       ng-class="{'ribbon-item-current': layout.isView('new')}"
       class="ribbon-item">
    <i class="icon-plus icon-2x"></i>
    <!--div class="add-new-model">
      <div class="add-new-model-icon"></div>
    </div-->
    New model
  </div>

  <div ng-click="layout.setView('my')"
       ng-class="{'ribbon-item-current': layout.isView('my')}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    My models
  </div>
  <div ng-click="layout.setView('public')"
       ng-class="{'ribbon-item-current': layout.isView('public')}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    Public models
  </div>
  <div ng-click="layout.setView('recent')"
       ng-class="{'ribbon-item-current': layout.isView('shared')}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    Shared with me
  </div>
  <div ng-click="layout.setView('all')"
       ng-class="{'ribbon-item-current': layout.isView('all')}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    All models
  </div>

  <div ng-include src="'views/ribbon/License.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
