<div class="member-grid" ng-controller="MembersController">
  <div class="member-grid-body">
    <div class="container">
      <div class="row">
        <div ng-repeat="(memberId, member) in catalog.getMembers()">
          <div class="col-xs-3 well canvas-link member">
            <!--a ng-href="#member/{{member.id}}"-->
              <img class="member-icon member-{{member.provider}}" ng-src="{{member.image}}" title="{{member.name}}" alt="{{member.name}}" />
            <!--/a-->
            <div class="model-count-wrap" xxxx-ng-mouseover="catalog.highlightModels(member)">
              <span class="zurb general model-count">0</span>
              <span class="model-count">{{catalog.modelCount(member)}}</span>
            </div>
            <div class="member-name" title="{{member.name}}">{{member.name}}</div>
            <div class="member-title" title="{{catalog.getFullTitle(member)}}">{{catalog.getTitle(member)}}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12>">
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
