<div class="container-fluid"
     ng-controller="ModelsController">
  <div class="row-fluid">
    <div ng-repeat="model in catalog.getModels()"
         ng-show="catalog.filterMatch(model.tags)">
      <div class="span2 well canvas-link model"
           title="{{model.name}}">
        <a ng-href="#canvas/{{model.id}}">
          <img class="model-icon"
               ng-hide="model.icon == null"
               ng-src="{{model.icon}}"
               title="Open model {{model.name}} for editing
               
               {{model.label.pitch}}" />
          <img class="model-icon"
               ng-show="model.icon == null"
               ng-src="images/2309bece.Canvas-Marker-62x38.png"
               title="Open model {{model.name}} for editing
               
               {{model.label.pitch}}" />
        </a>
        <span class="model-rating-wrap">
          <span class="zurb general model-rating-high">ccc</span><span class="zurb general model-rating-low">cc</span>
        </span>
        <span class="model-count-wrap"
              xxx-ng-mouseover="catalog.highlightMembers(model)">
          <span class="zurb social member-count">x</span>
          <span class="member-count">{{catalog.getMemberCount(model)}}</span>
        </span>
        <div class="model-name">{{model.name}}</div>
        <div style="clear: both;">
          <span ng-repeat="tag in model.tags">
            <span class="label"
                  ng-class="catalog.labelColor(tag.text)">{{tag.text}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12>">
      <hr />
    </div>
  </div>
</div>
