<div class="container-fluid"
     ng-controller="ModelsController">
  <div class="row-fluid">
    <div ng-repeat="modelId in catalog.getModels(layout.view)"
         zzz-ng-show="catalog.filterMatch(model.tags)">
      <div class="span2 well canvas-link model"
           ng-class="{'model-public': catalog.isPublic(modelId)}"
           title="{{getModel(modelId).fields.name}}">
        <a ng-href="#/canvas/{{modelId}}">
          <img class="model-icon"
               ng-hide="getModel(modelId).fields.icon == null"
               ng-src="{{getModel(modelId).fields.icon}}"
               title="Open model {{getModel(modelId).fields.name}} for editing
               
               {{getModel(modelId).fields.pitch}}" />
          <img class="model-icon"
               ng-show="getModel(modelId).fields.icon == null"
               src="images/2309bece.Canvas-Marker-62x38.png"
               title="Open model {{getModel(modelId).fields.name}} for editing
               
               {{getModel(modelId).fields.pitch}}" />
        </a>
        <span class="model-rating-wrap">
          <span class="zurb general model-rating-high">ccc</span><span class="zurb general model-rating-low">cc</span>
        </span>
        <span class="model-count-wrap"
              xxx-ng-mouseover="catalog.highlightMembers(getModel(modelId))">
          <span class="zurb social member-count">x</span>
          <span class="member-count">{{catalog.getMemberCount(getModel(modelId))}}</span>
        </span>
        <div class="model-name">{{getModel(modelId).fields.name}}</div>
        <div style="clear: both;">
          <span ng-repeat="tag in getModel(modelId).tags">
            <span class="label"
                  ng-class="catalog.labelColor(tag.text)">{{tag.text}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12>">
      <hr />
    </div>
  </div>
</div>
