<div class="peer-count">
  {{me.peerCount()}}
</div>

<!--div class="add-new-peer">
  <div class="add-new-peer-icon"></div>
</div-->

<!--div ng-repeat="dbuser in db.users"
     ng-show="dbuser.id != user.profile.id"-->
<!--div ng-repeat="(peerKey, peer) in db.users"
     class="ribbon-item"
     ng-class="{'ribbon-item-current': user.isMyself(peerKey)}">
  <img ng-src="{{peer.profile.image}}"
       ng-show="peer.profile.image"
       title="{{peer.profile.name}}" />
  <img ng-src="images/bbf82395.light_avatar_small.png"
       ng-hide="peer.profile.image"
       title="{{peer.profile.id}}" />
</div-->

<div class="new-model-users">
  <div>
    Existing users
  </div>
  <div ng-repeat="contact in me.getContacts()"
       ng-class="{'user-selected': me.wasContactSelected(contact)}"
       ng-click="me.toggleContact(contact)"
       class="ribbon-item">
    <!--input type="checkbox"
           class="peer-checkbox"
           model="dbUser.selected" /-->
    <span class="provider-icon peer-provider"
          alt="{{contact.service}}">
      <img title="{{contact.service}}"
           src="{{favicon.getUrl(contact.service)}}" />
    </span>
    <span class="user-profile-name">{{contact.name}}</span>
    <img ng-src="{{contact.image}}"
         class="user-icon"
         ng-show="contact.image"
         title="{{contact.name}}" />
    <img ng-src="images/bbf82395.light_avatar_small.png"
         class="user-icon"
         ng-hide="contact.image"
         title="{{contact.id}}" />
  </div>

  <div>
    <button class="btn btn-primary"
            ng-click="me.inviteUsers()">
      Invite more users
    </button>
  </div>
  <!--div ng-repeat="user in db.users">
    <input model="user.selected"
           type="checkbox" />
    <img class="user-list-icon"
         ng-src="{{user.image}}" />
    {{user.name}}
  </div-->
</div>

