<div ng-controller="RibbonController"
     class="peer-ribbon">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="user-count">
    {{userCount()}}
  </div>

  <div class="add-new-member">
    <div class="add-new-member-icon"></div>
  </div>

  <!--div ng-repeat="dbuser in db.users"
       ng-show="dbuser.id != user.account.id"-->
  <div ng-repeat="dbuser in db.users">
    <img ng-src="{{dbuser.image}}" />
  </div>
  <div ng-include src="'views/ribbon/Signal.html'"></div>
</div>
