<div ng-controller="MasterController"
     ng-class="{'ios-full-screen': layout.isFullScreen(), 'guide-wide': layout.guide.wide, 'peer-wide': layout.peer.wide}">
  <header ng-if="me.authenticated">
    <div ng-include src="'views/Header.html'"></div>
  </header>
  <header ng-if="!me.authenticated">
    <div ng-include src="'views/entry/Header.html'"></div>
  </header>
  <div class='first-revenue'>
    <div ng-view class='views'></div>
    <div class="rrrr-image"
         ng-show="rrrr.launching">
      <a target="_blank"
         href="http://rrrrrrrroll.tumblr.com/">
        <img ng-src="{{rrrrImageLink}}" />
      </a>
    </div>
  </div>
  <div ng-include src="'views/ModalDialogs.html'"></div>
  <!--div ng-include src="'views/Pageguide.html'"></div-->
</div>
