<div ng-controller="ModalController">
  <div ng-include="'views/modal/DupSticker.html'"></div>
  <div ng-include="'views/modal/DelSticker.html'"></div>
  <div ng-include="'views/modal/CannotDelSticker.html'"></div>
  <div ng-include="'views/modal/DiscardChanges.html'"></div>
  <div ng-include="'views/modal/SendInvite.html'"></div>
  <div ng-include="'views/modal/NewModelEditor.html'"></div>
  <div ng-include="'views/modal/LinkedInInvite.html'"></div>
  <!--div ng-include="'views/modal/ModelEditor.html'"></div-->
  <!--div ng-include="'views/modal/ModelUsers.html'"></div-->
  <div ng-include="'views/modal/Logon.html'"></div>
  <div ng-include="'views/modal/Logoff.html'"></div>
</div>
