<ul class="first-revenue-pageguide" id="tlyPageGuide" data-tourtitle="1stRevenue">
  <li class="tlypageguide_bottom" data-tourtarget=".pg-zoom">
    <div>
      Display a list of zoom levels.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".pg-create-canvas">
    <div>
      Create a new model.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".first-revenue-logo">
    <div>
      Display the program version.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".first-revenue-feedback">
    <div>
      Submit feedback to UserVoice.
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".pg-view-free">
    <div>
      Show stickers on canvas in free layout
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".pg-view-grid">
    <div>
      Show stickers on canvas in grid layout
    </div>
  </li>
  <li class="tlypageguide_bottom" data-tourtarget=".pg-show-editor">
    <div>
      Open or close sticker editor
    </div>
  </li>
</ul>