<div ng-controller="CollabController"
     class="collaboration-ribbon">
  <div class="corner-menu">
    <a ng-click="popup.toggle('right-ribbon')">&#9776;</a>
  </div>

  <div class="user-count">
    {{userCount()}}
  </div>

  <div class="add-new-member">
    <div class="add-new-member-icon"></div>
  </div>

  <!--div ng-repeat="dbuser in db.users"
       ng-show="dbuser.id != user.account.id"-->
  <div ng-repeat="dbuser in db.users">
    <img ng-src="{{dbuser.image}}" />
  </div>
  <img src="images/06dd3e96.signal-green.png"
       class="signal-icon"
       ng-show="firebase.connected" />
  <img src="images/9b1398fb.signal-red.png"
       class="signal-icon"
       ng-hide="firebase.connected" />
</div>
