<span ng-switch="service">
  <img ng-switch-when="facebook" ng-src="images/favicons/818855f1.facebook.png" />
  <img ng-switch-when="linkedin" ng-src="images/favicons/2e4c69ad.linkedin.png" />
  <img ng-switch-when="gplus" ng-src="images/favicons/1e70e1ae.gplus.png" />
  <img ng-switch-when="gcontacts" ng-src="images/favicons/5121d992.gcontacts.png" />
  <img ng-switch-when="twitter" ng-src="images/favicons/c6cef512.twitter.png" />
  <img ng-switch-when="github" ng-src="images/favicons/69659474.github.png" />
  <img ng-switch-when="persona" ng-src="images/favicons/7b89c5de.persona.png" />
  <img ng-switch-when="singly" ng-src="images/favicons/2043cf8f.singly.png" />
  <img ng-switch-when="1R" ng-src="favicon.ico" />
  <img ng-switch-default ng-src="images/favicons/2043cf8f.singly.png" />
</span>
