<span ng-switch="service">
  <img ng-switch-when="facebook" ng-src="images/favicons/d1d1f241.facebook.png" />
  <img ng-switch-when="linkedin" ng-src="images/favicons/2da7a6a7.linkedin.png" />
  <img ng-switch-when="gplus" ng-src="images/favicons/576925e6.gplus.png" />
  <img ng-switch-when="twitter" ng-src="images/favicons/5d51cc2f.twitter.png" />
  <img ng-switch-when="github" ng-src="images/favicons/83a60b7b.github.png" />
  <img ng-switch-when="persona" ng-src="images/favicons/0121a343.persona.png" />
  <img ng-switch-default ng-src="images/favicons/087e701a.singly.png" />
</span>
