<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>1st Revenue Singly redirect</title>
    <script src="../scripts/vendor/winchan/73acf0c4.winchan.js"></script>
    <!--- To handle window closing WinChan may need updates from
          https://github.com/seanmonstar/browserid/commit/1fa1570afa118d64374af12646c076d9aad61f5f -->
  </head>
  <body>
    <script>
      var SINGLY_URL = 'https://api.singly.com/oauth/authenticate';
      var wc = WinChan.onOpen(function(origin, r, cb) {
        var params = r;
        var url = SINGLY_URL;
        var sep = '?';
        for (var param in params) {
          url += sep + param + '=' + encodeURIComponent(params[param]);
          sep = '&';
        }
        console.log('SinglyLaunch WinChan.onOpen origin=', origin, 'r=', r, 'url=', url);

//        cb({
//          WinChan: 'Launching ' + url
//        });
        wc.detach(); // needs detach to replace the window.location
        window.location = url;
      });
    </script>
  </body>
</html>
