<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>1st Revenue Singly redirect return</title>
    <script src="../scripts/vendor/winchan/73acf0c4.winchan.js"></script>
  </head>
  <body>
    <script>
      var wc = WinChan.onOpen(function(origin, r, cb) {
        var loc = window.location;
        var locHash = loc.hash.substr(1);
        var firebase = locHash.substr(locHash.indexOf('firebase='))
          .split('&')[0]
          .split('=')[1];
        var access_token = locHash.substr(locHash.indexOf('access_token='))
          .split('&')[0]
          .split('=')[1];
        var account = locHash.substr(locHash.indexOf('account='))
          .split('&')[0]
          .split('=')[1];

        console.log('SinglyRedirect WinChan.onOpen origin=', origin, 'r=', r,
            'firebase=', firebase, 'access_token=', access_token, 'account=', account);
        cb({
          hash: window.location.hash,
          firebase: firebase,
          access_token: access_token,
          account: account
        });
        window.close();
      });
    </script>
  </body>
</html>
