<div class="alert alert-success alert-block">
  <h3>Sign in with one of your social accounts to accept the invite:</h3>
  <p>
    <img ng-src="images/signin/facebook/492a1ed4.Signin-246x54.png"
         class="invite-button"
         ng-click="invite.acceptInvite('facebook')" />
  </p>
  <p>
    <img ng-src="images/signin/linkedin/ddf6ab2d.Signin-246x54.png"
         class="invite-button"
         ng-click="invite.acceptInvite('linkedin')" />
  </p>
  <p>
    <img ng-src="images/signin/gplus/bf1d33e9.Signin-246x54.png"
         class="invite-button"
         ng-click="invite.acceptInvite('gplus')" />
  </p>
</div>


