<tr ng-repeat="(key, partner) in account.contacts.partners"
  class="partner-contact"
  ng-class="{'favorite-contact': partner.favorite}">
  <td>
    <input type="checkbox"
           ng-model="partner.favorite" />
  </td>
  <td class="contact-image">
    <img class="user-icon"
         ng-src="{{partner.image}}">
  </td>
  <td>
    {{partner.name}}
  </td>
  <td>
   gplus
  </td>
  <td>
    {{key}}
  </td>
  <td>
    <div gplus-invite></div>
    <!--button class="btn btn-default btn-sm"
            ng-disabled="true"
            ng-show="hasBeenInvited(contact)">
      Invited
    </button>
    <img src="images/08c59e89.1R-red-white-black.png"
         ng-show="isUser(contact)"
         class="contact-1r" /-->
  </td>
</tr>
