<tr ng-repeat="contact in social.contacts.gplus"
  ng-class="{'partner-contact': isPartner(contact), 'favorite-contact': isFavorite(contact)}">
  <td>
    <input type="checkbox"
           ng-checked="isFavorite(contact)"
           ng-click="toggleFavorite(contact)"
           zzz-ng-model="contact.partner.favorite" />
  </td>
  <td class="contact-image">
    <img class="user-icon"
         ng-src="{{contact.image}}">
  </td>
  <td>
    {{contact.name}}
  </td>
  <td>
    {{contact.service}}
  </td>
  <td>
    {{contact.serviceId}}
  </td>
  <td>
    <div gplus-invite></div>
    <button class="btn btn-default btn-sm"
            ng-disabled="true"
            ng-show="hasBeenInvited(contact)">
      Invited
    </button>
    <img src="images/7bb8dec4.1R-red-white-black.png"
         ng-show="isUser(contact)"
         class="contact-1r" />
  </td>
</tr>
