<div class="peer-count">
  {{db.peerCount()}}
</div>

<div class="add-new-peer">
  <div class="add-new-peer-icon"></div>
</div>

<!--div ng-repeat="dbuser in db.users"
     ng-show="dbuser.id != user.account.id"-->
<div ng-repeat="(peerKey, peer) in db.users"
     class="ribbon-item"
     ng-class="{'ribbon-item-current': user.isMyself(peerKey)}">
  <img ng-src="{{peer.profile.image}}"
       class="user-icon"
       ng-show="peer.profile.image"
       title="{{peer.profile.name}}" />
  <img ng-src="images/bbf82395.light_avatar_small.png"
       class="user-icon"
       ng-hide="peer.profile.image"
       title="{{peer.profile.id}}" />
</div>
