<div ng-controller="AngularController" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>1st Revenue Angular dependencies</h3>
    </div>
  </div>
  <div ng-repeat="el in q" class="row">
    <div class="col-xs-1">
      {{$index}}
    </div>
    <div class="col-xs-1">
      {{el[0]}}
    </div>
    <div class="col-xs-1">
      {{el[1]}}
    </div>

    <div ng-switch on="objType(el[2][0])">
      <div ng-switch-when="string">
        <div class="col-xs-9">
          <h4>{{el[2][0]}}</h4>

          <div ng-switch on="testValue(el[1])">
            <div ng-switch-when="false">
              <div class="row">
                <div ng-repeat="pr in el[2][1]">
                  <div ng-switch on="objType(pr)">
                    <div ng-switch-when="string" class="col-xs-2">
                      {{pr}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div ng-switch-when="object">
        <h4 class="col-xs-9">
          {{el[2][0][0]}}
        </h4>
      </div>
    </div>

  </div>
</div>
