<div ng-controller="PrefController" class="container">
  <h3>1st Revenue Preferences</h3>
  <h4>To be implemented... Not available in beta version</h4>
  <!--div>Select sticker shape:</div>
  <div class="pane" style="position: relative; height: 100px; width: 100%; border: 0;">
    <ul class="st-list pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 0">
          <div class="st-pop" style="background-color: #F88">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style2 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 12rem">
          <div class="st-pop" style="background-color: #FF8">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style3 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 24rem">
          <div class="st-pop" style="background-color: #8F8">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style4 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 36rem">
          <div class="st-pop" style="background-color: #88F">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 48rem">
          <div class="st-pop" style="background-color: #F8F">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div>Select sticker color saturation:</div>
  <div class="pane" style="position: relative; height: 100px; width: 100%; border: 0;" ng-controller="PrefController">
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 0">
          <div class="st-pop" style="background-color: #{{brighten('8888FF', 20, 20)}}">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 12rem">
          <div class="st-pop" style="background-color: #{{brighten('8888FF', 40, 40)}}">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 24rem">
          <div class="st-pop" style="background-color: #{{brighten('8888FF', 60, 60)}}">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 36rem">
          <div class="st-pop" style="background-color: #{{brighten('8888FF', 80, 80)}}">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="st-list-style5 pane-sticker">
      <li class="st-item">
        <div class="st-grad" style="position: absolute; top: 0; left: 48rem">
          <div class="st-pop" style="background-color: #{{brighten('8888FF', 100, 100)}}">
            <h2 class="st-head" style="border: 0">Sticker</h2>
            <div class="st-notes">Notes</div>
          </div>
        </div>
      </li>
    </ul>
  </div-->
</div>
