<div ng-controller="RepoController" class="container">
  <div class="row">
    <h3 class="col-xs-12">Administration</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">Repository</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        <dt>Name</dt><dd>{{orgRepo.name}}</dd>
        <dt>Org ID</dt><dd>{{orgRepo.org_id}}</dd>
        <dt>Status</dt><dd>{{orgRepo.status}}</dd>
        <dt>Premium</dt><dd>{{orgRepo.premium}}</dd>
        <dt>Rank</dt><dd>{{orgRepo.rank}}</dd>
        <dt>URL</dt>
          <dd>
            <a target="_blank" ng-href="{{orgRepo.url}}">
              {{orgRepo.url}}
            </a>
          </dd>
        <dt>URL Label</dt><dd>{{orgRepo.url_label}}</dd>
        <dt>Type</dt><dd>{{orgRepo.type}}</dd>
        <dt>Role</dt><dd>{{orgRepo.role}}</dd>
        <dt>Contract status</dt><dd>{{orgRepo.contract_status}}</dd>
        <dt>Segment size</dt><dd>{{orgRepo.segment_size}}</dd>
        <dt>Segment</dt><dd>{{orgRepo.segment}}</dd>
        <dt>Domains</dt><dd>{{orgRepo.domains}}</dd>
        <dt>Rights</dt><dd>{{orgRepo.rights}}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">Spaces</div>
  </div>
  <div class="row">
    <div class="col-xs-2">Name</div>
    <div class="col-xs-1">ID</div>
    <div class="col-xs-1">Type</div>
    <div class="col-xs-1">Role</div>
    <div class="col-xs-1">Rank</div>
    <div class="col-xs-1">Premium</div>
    <div class="col-xs-2">Label</div>
    <div class="col-xs-1">URL</div>
    <div class="col-xs-2">Rights</div>
  </div>
  <div ng-repeat="space in orgRepo.spaces">
    <div class="row">
      <div class="col-xs-2">{{space.name}}</div>
      <div class="col-xs-1">{{space.space_id}}</div>
      <div class="col-xs-1">{{space.type}}</div>
      <div class="col-xs-1">{{space.role}}</div>
      <div class="col-xs-1">{{space.rank}}</div>
      <div class="col-xs-1">{{space.premium}}</div>
      <div class="col-xs-2">{{space.url_label}}</div>
      <div class="col-xs-1">
        <a ng-href="{{space.url}}">link</a>
      </div>
      <div class="col-xs-2" title="{{space.rights}}">{{space.rights.length}} rights</div>
    </div>
  </div>
</div>
