<div class="home-summary">
  <h1>
    <a href="#/repo">Show model repository</a>
  </h1>

  <div>
    <img class="user-icon pull-left"
         ng-show="sync.user.profile.image"
         ng-src="{{sync.user.profile.image}}" />
    <img class="user-icon pull-left"
         ng-hide="sync.user.profile.image"
         ng-src="images/bbf82395.light_avatar_small.png" />
  </div>

  <div class="summary-body">
    <p>
      <span first-revenue-service-icon="sync.user.profile.service"></span>
      User <strong>{{ sync.user.profile.name }}</strong>
    </p>

    <p>
      {{ _.size(sync.models) }} models ({{ _.size(sync.public.models) }} public)
    </p>

    <p>
      {{ _.size(sync.peers) }} peer users
    </p>

    <p>
      {{ _.size(sync.invites) }} invites sent
    </p>
  </div>

</div>
