<div class="container">
  <h3>Welcome to 1st Revenue</h3>
  <h4>Released to a limited circle of beta testers</h4>
  <div>Launched on July 3, 2012</div>
  <div class="container welcome">
    <div class="row well">
      <div class="row">
        <div class="col-xs-12" >
          Please note the following 1st Revenue user interface components:
        </div>
      </div>
      <div class="row">
        <h3 class="col-xs-12">Header bar</h3>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img src="images/7e8b24c2.1R-red-white.png" style="float: left; padding: 3px; background-color: black;" />
          <p>1st Revenue logo. Clicking on it reveals the current version of 1st Revenue</p>
        </div>
        <div class="col-xs-4">
          <p>1st Revenue menu. Allows to switch between</p>
          <p><span style="background-color: black; color: white;">
            <i class="icon-home icon-white"></i> Home</span>,</p>
          <p><span style="background-color: black; color: white;">
            <i class="icon-list icon-white"></i> Models
          </span>, and</p>
          <p><span style="background-color: black; color: white;">
            <i class="icon-th-large icon-white"></i> Canvas
          </span> pages</p>
        </div>
        <div class="col-xs-4">
          <p>White action buttons. Shown on Canvas page. Allow to switch Canvas from free layout
          <button class="btn btn-default"><i class="icon-move"></i></button> to grid mode <button class="btn btn-default"><i class="icon-th"></i></button> and activate User <button class="btn btn-default"><i class="icon-user"></i></button>, Contact, Model <button class="btn btn-default"><i class="icon-list-alt"></i></button>, and Sticker <button class="btn btn-default"><i class="icon-edit"></i></button> editors. Only the Sticker editor is currently working. Active buttons turn blue: <button class="btn btn-primary"><i class="icon-move icon-white"></i></button></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p><span style="background-color: black; color: #999;font-size: 20px; font-weight: 200;">Current model name</span></p>
          <p>on Canvas Page</p>
        </div>
        <!--div class="col-xs-4">
          <span style="background-color:black; color: white">
            <i class="icon-flag icon-white"></i> 999
          </span>
          Notification flag and count. When clicked displays a list of notifications about the client and server events during the operation of 1st Revenue. Delete individual notifications by clicking on the <span class="close" style="background-color: black; color: white; float: none;">&nbsp;&times;&nbsp;</span> icon on each line or clear whole list by clicking the button on the header line <button class="btn btn-default"><i class="icon-remove"></i><btn>
        </div-->
        <div class="col-xs-5">
          <img src="images/d0c09a41.BMG-Canvas.png" style="float: left; padding-right: 5px;" />
          Canvas icon. Black and white icon on model list page allows to create a new model.
          <br />
          <img src="zoomimages/Zoom-0.png" style="float: right; padding-left: 5px;" /> Color icon on canvas page changes the zoom level to concentrate on specific blocks in canvas. When clicked opens a list of available zoom levels. Click one of the lines and Canvas will morph to the layout indicated by the icon on each line.
        </div>
      </div>
      <div class="row">
        <h3 class="col-xs-12">Middle of the screen</h3>
      </div>
      <div class="row">
        <div class="col-xs-2">
          UserVoice feedback widget at the left edge of the screen just like you see on this Welcome page. Click on it to submit your feedback to 1st Revenue. We appreciate your opinion.
        </div>
        <div class="col-xs-3">
          <p><b>Home page</b> - a few tabs with access to user information. Most of the information here is currently just for testing purposes: Preferences - not implemented yet, planned to allow user to customize their 1st Revenue environment; Podio user account, Podio profile, and Repository - some information associated with user's Podio account. Podio also contains pages available only to system administrators to monitor and manage the system</p>
        </div>
        <div class="col-xs-3">
          <p><b>Models page</b> - displays a tab with list of models available for current 1st Revenue user and a tab with a list of users that have access to the same models. Clicking on the Canvas icon for selected model opens Canvas page. Models can be filtered by tags clicking on the tag line at the right side of the screen</p>
        </div>
        <div class="col-xs-4">
          <p><b>Canvas page</b> - displays a canvas for selected model. Stickers on the canvas can be dragged to a new position when canvas is in the free layout model. Note that in grid mode the dragging position will be not preserved. A tooltip with full sticker contents is displayed when mouse hovers over a sticker or user touches the sticker on a tablet screen. Each tooltip contains edit <button class="btn btn-primary"><i class="icon-edit icon-white"></i></button> and delete <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button> buttons.</p>
          <p>A green
            <button class="btn btn-success">
              <i class="icon-plus icon-white"></i>
            </button>
            button becomes visible in the top right corner of each block when hovered or touched. Click on it to create a new sticker.</p>
        </div>
      </div>
      <div class="row">
        <h3 class="col-xs-12">Footer bar</h3>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img src="images/35987e13.CC-BY-SA-3.0-88x31.png" style="float: left; margin-right: 5px;" />
          <p>Creative commons widget. When clicked displays credits to Alex Osterwalder's Business Model Generation Canvas and link to his web site. Shows technologies used to build 1st Revenue.</p>
        </div>
        <div class="col-xs-3">
          <img ng-src="{{profile.profile.image.link}}/small"
               style="float: left; margin-right: 5px;" />
          <p>Current user icon and user menu. Items in user menu are currently inactive</p>
        </div>
        <div class="col-xs-3">
          <img src="images/bbf82395.light_avatar_small.png"
               style="float: left; margin-right: 5px;" />
          User list icon. Clicking it shows users related to the currently open canvas. This is planned to be used for live interaction with other users of 1st Revenue.
        </div>
        <div class="col-xs-3">
          <img src="images/43328dac.Palette32.png"
               style="float: left; margin-right: 5px; border: 1px solid gray" />
          Color grid icon. Clicking it shows a set of sticker colors. This is not used currently, planned for filtering stickers on canvas by their color
        </div>
      </div>
    </div>
    <div class="row well">
      <div class="row">
        <h3 class="col-xs-12">
          Collaboration and Podio
        </h3>
      </div>
      <div class="row">
        <div class="col-xs-4">
          1st Revenue is all about collaboration. We use an excellent Podio platform that provides great programming API to seamlessly integrate business model functionality with the native Podio capabilities and rich Podio app ecosystem. Every change you do in your model is visible through native Podio interface. Model can become a part of much larger collaboration workflow.
        </div>
        <div class="col-xs-4">
          When more than one user opens the same model and they start making changes, such changes are propagated to all the connected users, be it simple shift of the position after dragging the sticker on the screen or modification of the sticker fields or color. The changes are sent to our backend which uses real time technology to distribute them to others.
        </div>
        <div class="col-xs-4">
          Even for a lone user the collaboration features may be very useful. Each of us has more than one connected device and most of them can be used to access 1st Revenue model. You may have two screens in front of you. Open separate browser windows, connect both to 1st Revenue, then display the Canvas full screen on one of them while editing stickers on another. Use a projector to show your model to audience. The changes will instantly appear on both of them, just like they will do if you make changes on your tablet or even use Podio application on your iPhone and edit the fields in any of the blocks. 3 or 4 devices may work in unison.
        </div>
      </div>
    </div>
    <div class="row well">
      <div class="row">
        <h3 class="col-xs-12">
          Platforms and browsers
        </h3>
      </div>
      <div class="row">
        <div class="col-xs-4">
          1st Revenue works on multiple platforms and browsers. We don't however recommend Internet Explorer since we haven't tested 1st Revenue with it and it's known to be slower and incompatible with the latest web standards that we have used to build 1st Revenue. We test 1st Revenue with Chrome and Firefox on Windows, Linux, and Mac OS X and with Safari on Mac OS X. For tablet testing we use iPad with Safari and Chrome.
        </div>
        <div class="col-xs-4">
          The recommended screen resolution should be at least 960x600. This fits most of the desktop and tablet screens, including iPad, which we are testing as a reference platform for tablets.
        </div>
        <div class="col-xs-4">
          Note that on the desktop browsers you can resize the screen whenever you like and the screen elements will adapt dynamically to fit the new size. We still are working on the best proportions of different element sizes for each zoom level. Please send us your feedback if your specific window size or platform displays the information incorrectly or at inconvenient size.
        </div>
      </div>
    </div>
    <div class="row well">
      <div class="row">
        <h3 class="col-xs-12">
          Full screen mode
        </h3>
      </div>
      <div class="row">
        <div class="col-xs-4">
          On desktop browsers like Chrome or Firefox clicking key <span style="border: 1px solid black">F11</span> on the keyboard switches 1st Revenue to full screen mode. 1st Revenue takes over all screen space and provides much larger work area. Combine it with Zoom level 4 (Single block mode) and you have entire screen for your stickers. Try other zoom levels to see the sticker layout that's best for for you.
        </div>
        <div class="col-xs-8">
          1st Revenue icon can be saved to one of the iPad Home screens and then it will operate in full screen mode without any browser specific decorations. To create an icon on Home screen, open 1st Revenue in iPad Safari, navigate to Models menu and click on the icon on toolbar left from the URL that looks like a rectangle with an arrow pointing out of it <i class="icon-share"></i>. Click on this icon and choose the option "Add to Home Screen". Note that currently 1st Revenue closes down in most cases after iPad enters power save mode and locks the screen. It's a good choice when working non-stop for prolonged periods of time however the work may be interrupted after a timeout and app should start again. For short interactions use Safari or Chrome on iPad directly.
        </div>
      </div>
    </div>
  </div>
</div>
