<img class="palette-icon"
     src="images/43328dac.Palette32.png"
     ng-click="popup.toggle('palette')"
     ng-show="showPalette"/>

<div ng-show="popup.palette"
     class="palette-bar">
  <div ng-init="colors=['red','yellow','gray','blue','magenta','salmon','cyan','neutral','green']">
    <img ng-src="images/18fe3280.palette-cross.png"
         class="palette-color" />
    <span ng-repeat="color in colors"
          class="palette-color palette-color-{{color}}"
          ng-class="{chosen: (color == sticker.colorText.toLowerCase())}"
          ng-click="palette.setColor(sticker, color)">
    </span>
    <img ng-src="images/7b1b1ae3.palette-plus.png"
         class="palette-color" />
  </div>
</div>
