<span class="btn-group"
      ng-show="layout.showButtons()">
  <!-- 1st impl: two buttons toggle between free and grid -->
  <!--button class="btn pg-view-free"
          ng-class="{'btn-primary': (canvas.view=='free')}"
          ng-click="canvas.setView('free')">
    <i class="icon-move"
       ng-class="{'icon-white': (canvas.view=='free')}"
       title="Free layout">
    </i>
  </button>
  <button class="btn pg-view-grid"
          ng-class="{'btn-primary': (canvas.view=='grid')}"
          ng-click="canvas.setView('grid')">
    <i class="icon-th"
       ng-class="{'icon-white': (canvas.view=='grid')}"
       title="Grid layout">
    </i>
  </button-->
  <!-- 2nd impl: one button toggles between free and grid -->
  <button class="btn pg-view-grid"
          ng-class="{'btn-primary': (canvas.view=='grid')}"
          ng-click="canvas.toggleView()">
    <i class="icon-th"
       ng-class="{'icon-white': (canvas.view=='grid')}"
       title="Grid layout">
    </i>
  </button>
</span>


<span class="btn-group"
      ng-show="layout.showButtons()">
  <!--button class="btn"
          style="margin-left: 5px;"
          ng-class="{'btn-primary': info.view.user}"
          ng-click="info.toggle('user')"
          title="Model users">
    <i class="icon-user"
       ng-class="{'icon-white': info.view.user}">
    </i>
  </button>
  <button class="btn"
          ng-class="{'btn-primary': info.view.model}"
          ng-click="info.toggle('model')"
          title="Model editor">
    <i class="icon-list-alt"
       ng-class="{'icon-white': info.view.model}">
    </i>
  </button-->
  <!-- Remove margin-left when using the above buttons -->
  <!--button class="btn pg-show-editor"
          style="margin-left: 5px;"
          ng-class="{'btn-primary': info.stickerButtonBlue(), 'btn-danger': info.stickerButtonRed()}"
          ng-click="info.toggle('sticker')"
          title="Sticker editor">
    <i class="icon-edit"
       ng-class="{'icon-white': info.stickerIconWhite(), 'icon-red': info.stickerIconRed()}">
    </i>
  </button-->
</span>



<!--span class="btn-group" ng-show="layout.showButtons()">
  <button class="btn"
          style="margin-left: 5px;"
          ng-class="{'btn-primary': fs.active}"
          ng-click="fs.toggle()"
          title="Full screen">
    <i class="icon-fullscreen"
       ng-class="{'icon-white': fs.active}">
    </i>
  </button>
</span-->
