<div ng-switch="user.account && layout.show.profile">
  <div ng-switch-when="true">
    <div class="user-icon-wrapper pull-right">
      <img class="user-icon"
           ng-show="user.image"
           ng-src="{{user.image}}" />
    </div>

    <div class="pull-right">
      <ul class="nav nav-pills header-menu">
        <li class="dropdown"
            id="user-menu">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#user-menu">
            <span class="caret"></span>
            <div class="user-name">
              {{user.account.name}}
            </div>
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- Touch event converted to click -->
              <!-- Click event fires twice after conversion -->
              <!-- The second click event immediately closes the modal -->
              <!-- unless data-backdrop="static" was specified -->
              <div class="header-menu-line"
                   ontouchstart="$(this).trigger('click')"
                   ng-click="logoff()">
                Logoff
              </div>
            </li>
            <!--li class="divider"></li>
            <li><a tabindex="-1" href="#/">Home</a></li>
            <li><a tabindex="-1" href="#">User menu 2</a></li>
            <li><a tabindex="-1" href="#">User menu 3</a></li-->
          </ul>
        </li>
      </ul>
    </div>
    <div ng-switch="user.provider"
          alt="{{user.provider}}"
          class="pull-right provider-icon-wrapper">
      <img ng-switch-when="facebook"
           class="provider-icon"
           title="Facebook"
           ng-src="images/favicons/d1d1f241.facebook.png" />
      <img ng-switch-when="twitter"
           class="provider-icon"
           title="Twitter"
           ng-src="images/favicons/5d51cc2f.twitter.png" />
      <img ng-switch-when="github"
           class="provider-icon"
           title="Github"
           ng-src="images/favicons/83a60b7b.github.png" />
      <img ng-switch-when="persona"
           class="provider-icon"
           title="Persona"
           ng-src="images/favicons/0121a343.persona.png" />
      <img ng-switch-when="password"
           class="provider-icon"
           title="Firebase"
           ng-src="images/favicons/733ecf03.firebase.png" />
    </span>
  </div>
</div>
