<div ng-switch="me.sync.user.profile.id && layout.profile">
  <div ng-switch-when="true">
    <div class="user-icon-wrapper pull-right">
      <img class="user-icon"
           ng-show="me.sync.user.profile.image"
           ng-src="{{me.sync.user.profile.image}}" />
      <img class="user-icon"
           ng-hide="me.sync.user.profile.image"
           ng-src="images/bbf82395.light_avatar_small.png" />
    </div>

    <div class="pull-right">
      <ul class="nav nav-pills header-menu">
        <li class="dropdown"
            id="user-menu">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#user-menu">
            <div class="user-name"
                 ng-show="me.sync.user.profile.name">
              {{me.sync.user.profile.name}}
            </div>
            <div class="user-name"
                 ng-hide="me.sync.user.profile.name">
              Singly: {{me.sync.user.profile.id}}
            </div>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <div class="header-menu-line"
                   ontouchstart="$(this).trigger('click')"
                   ng-click="admin()">
                <i class="icon-user"></i>
                Administration
              </div>
            </li>
            <li>
              <div class="header-menu-line"
                   ontouchstart="$(this).trigger('click')"
                   ng-click="modifyAccount()">
                <i class="icon-user"></i>
                User account
              </div>
            </li>
            <li>
              <div class="header-menu-line"
                   ontouchstart="$(this).trigger('click')"
                   ng-click="preferences()">
                <i class="icon-cogs"></i>
                Preferences
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <!-- Touch event converted to click -->
              <!-- Click event fires twice after conversion -->
              <!-- The second click event immediately closes the modal -->
              <!-- unless data-backdrop="static" was specified -->
              <div class="header-menu-line"
                   ontouchstart="$(this).trigger('click')"
                   ng-click="logoff()">
                <i class="icon-off"></i>
                Logoff
              </div>
            </li>
            <!--li class="divider"></li>
            <li><a tabindex="-1" href="#/">Home</a></li>
            <li><a tabindex="-1" href="#">User menu 2</a></li>
            <li><a tabindex="-1" href="#">User menu 3</a></li-->
          </ul>
        </li>
      </ul>
    </div>
    <div ng-switch="me.sync.user.profile.service"
          alt="{{me.sync.user.profile.service}}"
          class="pull-right provider-icon-wrapper">
      <img ng-switch-when="facebook"
           class="provider-icon"
           title="Facebook"
           ng-src="images/favicons/d1d1f241.facebook.png" />
      <img ng-switch-when="twitter"
           class="provider-icon"
           title="Twitter"
           ng-src="images/favicons/5d51cc2f.twitter.png" />
      <img ng-switch-when="github"
           class="provider-icon"
           title="Github"
           ng-src="images/favicons/1764740e.github_inverted.png" />
      <img ng-switch-when="persona"
           class="provider-icon"
           title="Persona"
           ng-src="images/favicons/fff40799.persona_inverted.png" />
      <img ng-switch-when="password"
           class="provider-icon"
           title="Firebase"
           ng-src="images/favicons/733ecf03.firebase.png" />
      <img ng-switch-when="gplus"
           class="provider-icon"
           title="Google+"
           ng-src="images/favicons/576925e6.gplus.png" />
    </div>
  </div>
</div>
