<div class="editor-buttons">
  <button id="Cancel"
          ng-disabled="isCancelButtonDisabled()"
          ng-hide="isCancelButtonDisabled()"
          class="btn btn-warning"
          ng-click="confirmDiscardChanges()"
          title="Discard sticker changes">
    <i class="icon-remove icon-white"></i>
    <br />
    Cancel
  </button>
  <button id="Close"
          ng-disabled="isCloseButtonDisabled()"
          ng-hide="isCloseButtonDisabled()"
          class="btn btn-success"
          ng-click="confirmCloseEditor()"
          pane-name  title="Close editor">
    <i class="icon-remove icon-white"></i>
    <br />
    Finish
  </button>
  <div class="first-hidden-button"
       ng-show="isCancelButtonDisabled() && isCloseButtonDisabled()">
  </div>
  <button id="Delete"
          ng-show="!isDeleteButtonHidden() && !isDeleteButtonDisabled()"
          class="btn btn-danger"
          type="button"
          data-toggle="modal"
          data-target="#modalDel"
          ng-click="confirmDeleteSticker()"
          title="Delete sticker from the model">
    <i class="icon-trash icon-white"></i>
    <br />
    Delete
  </button>
  <button id="DeleteNoRights"
          ng-show="!isDeleteButtonHidden() && isDeleteButtonDisabled()"
          class="btn btn-warning disabled"
          title="No rights to delete this sticker">
    <i class="icon-trash icon-white"></i>
    <br />
    Delete
  </button>
  <div ng-show="isDeleteButtonHidden()"></div>

  <button id="Save"
          ng-disabled="isSaveButtonDisabled()"
          ng-hide="isSaveButtonDisabled()"
          class="btn btn-primary"
          ng-click="saveSticker()"
          title="Save sticker changes">
    <i class="icon-ok icon-white"></i>
    <br />
    Save
  </button>
  <div ng-show="isSaveButtonDisabled()"></div>
</div>
