<!-- Content editable div's -->
<fieldset class="thumbnail" ng-hide="editor.sticker == null"
          style="background-color: #{{rainbow.brighten(editor.sticker.color)}};">
  <legend ng-show="showLegend">E D I T I N G</legend>
  <div class="editor-sticker"
       data-id="{{editor.stickerId}}"
       data-bmid="{{editor.sticker.bmId}}"
       data-blockid="{{editor.sticker.blockId}}"
       data-tid="{{editor.sticker.update.tId}}"
       data-nid="{{editor.sticker.update.nId}}"
       data-mode="{{editor.stickerId == 0}}">
    <div>
      <label>Title</label>
      <!--h4 class="field-title"
          ng-class="{modified: !editor.matchTitle(editor.sticker)}"
          zzz-contenteditable="true"
          ng-model="editor.sticker.title"
          style="background-color: #{{rainbow.opaqueField(editor.sticker.color)}}">
        {{ editor.sticker.title }}
      </h4-->
      <input type="text"
             class="field-title"
             style="background-color: #{{rainbow.opaqueField(editor.sticker.color)}}"
             ng-model="editor.sticker.title">
    </div>

    <div>
      <label>Notes</label>
      <div class="field-notes"
           ng-class="{modified: !editor.matchNotes(editor.sticker)}"
           zzz-ng-bind-html="editor.sticker.notes"
           contenteditable="true"
           ng-model="editor.sticker.notes"
           style="background-color: #{{rainbow.opaqueField(editor.sticker.color)}}"></div>
    </div>

    <!-- jsFiddle for triangle: http://jsfiddle.net/mohsen/HTMcF/

      <div class="triangle">
        <div class="rot"></div>
      </div>​
      .triangle {
        position: relative;
        width: 100px;
        height: 60px;
        border-bottom: 1px solid black;
        border-radius: 12px;
      }
      .rot {
        border-radius: 10px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 70px;
        height: 70px;
        -webkit-transform: rotate(45deg);
        position: absolute;
        left:15px;
        top:23px;
      }​
    -->


    <div>
      <label>Colour {{editor.sticker.color}}</label>
      <div class="field-color"
           ng-class="{modified: !editor.matchColor(editor.sticker)}">
        <div ng-repeat="(colorName, colorData) in editor.rainbow.colorMap"
             class="palette-color zzz-palette-color-{{colorName}}"
             style="background-color: #{{editor.rainbow.brighten(colorName)}};"
             ng-class="{chosen: isColorChosen(colorName)}"
             ng-click="editor.setColor(colorName)">
        </div>
      </div>
    </div>
    <div ng-include="'views/edit/Buttons.html'"></div>
  </div>
</fieldset>
