<div class="canvas-side-frame"
     ng-if="layout.editor.sticker"
     ng-class="{'edit-sticker': layout.editor.sticker}">
  <div ng-controller="StickerEditorController"
       class="postit-editor">
    <div class="close-button"
         ng-click="confirmCloseEditor()"
         title="Click to Close Sticker Editor">
    </div>

    <div class="canvas-block-title">
      <span class="pull-left block-icon app-icon-24 icon-{{getBlock().iconId}}"></span>
      <span>{{getBlock().name}}</span>
    </div>

    <div ng-include="'views/edit/Fieldset.html'"></div>
    <div ng-repeat="purpose in [editor.purpose]">
      <div ng-include="'views/canvas/BMG.html'"></div>
    </div>
  </div>
</div>
