<div class="license hanging-overlay"
     ng-show="popup.license">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        Developed in Javascript using:
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://www.w3.org/html/logo/">
          <img src="images/license/090ffda2.html5-badge-h-connectivity-css3.png"
               width="165"
               height="64"
               alt="HTML5 Powered with Connectivity / Realtime, and CSS3 / Styling"
               title="HTML5 Powered with Connectivity / Realtime, and CSS3 / Styling" />
        </a>
      </div>          
      <div class="col-xs-3">
        <a target="_blank"
           href="http://www.w3.org/html/logo/">
          <img src="images/license/bb4d128c.css3-logo-102x102.jpg"
               alt="CSS3"
               title="CSS3"
               style="height: 64px" />
        </a>
      </div>          
      <div class="col-xs-3">
        <a target="_blank"
           href="http://www.w3.org/html/logo/">
          <img src="images/license/0963f3ba.240px-JavaScript-logo.png"
               alt="Javascript"
               title="Javascript"
               style="height: 64px" />
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a target="_blank"
           href="http://www.w3.org/html/logo/">
          HTML5 Powered with Connectivity / Realtime, and CSS3 / Styling
        </a>
      </div>          
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://angularjs.org/">
          <img src="images/license/0a063fd6.AngularJS-large.png"
               style="background-color: lightgray; width: 200px;"  />
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://underscorejs.org/">
          <img src="images/license/b6f45712.underscore.png"
               style="background-color: lightgray; width: 200px; padding-top: 8px; padding-bottom: 9px;" />
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://angularjs.org/">
          Angular JS by Google
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://underscorejs.org/">
          Underscore JS
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://nodejs.org/">
          <img src="images/license/ebdc3e6f.nodejs-dark.png"
               style="height: 64px;" />
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://twitter.github.com/bootstrap/">
          <img src="images/license/db84a0f8.bootstrap-blog-logo.png"
               style="height: 64px;" />
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://nodejs.org/">
          Node JS
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://twitter.github.com/bootstrap/">
          Twitter Bootstrap
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://expressjs.com/">
          <img src="images/license/1fb1990a.express-logo.png"
               style="width: 200px;" />
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://nowjs.com/">
          <img src="images/license/c1e1e645.nowlogo.png"
               style="height: 53px; background-color: lightgray;" />
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://expressjs.com/">
          express
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="http://nowjs.com/">
          Now JS
        </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://jquery.com/">
          <img src="images/license/746fa21d.logo_jquery_215x53.gif"
               style="width: 200px;" />
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="https://www.filepicker.io/partner/link/">
           <img src="https://www.filepicker.io/partner/badge/white/"
                alt="Powered By Filepicker.io" />
         </a>
      </div>          
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a target="_blank"
           href="http://jquery.com/">
          jQuery
        </a>
      </div>          
      <div class="col-xs-6">
        <a target="_blank"
           href="https://www.filepicker.io/partner/link/">
           Filepicker.io
         </a>
       </div>          
    </div>
  </div>          

  <h4>
    <hr/>
    <a target="_blank"
       href="http://www.businessmodelgeneration.com/canvas">
      BMG Canvas
    </a>
    </br>
    Icons from
    <a href="http://www.digitaldelight.co.uk/"
       target="_blank">
      Digital Delight
    </a>
    and
    <a target="_blank"
       href="http://www.glyphicons.com/">
      GLYPHIC<img src="images/license/63b53ca4.glyphicons-logo.ico" style="padding-bottom: 4px;" />NS FREE
    </a>
  </h4>
  <div>are licensed under a<br/>
    <a target="_blank"
       href="http://creativecommons.org/licenses/by-sa/3.0/"
       title="Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)">
      Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) License.
    </a>
  </div>
</div>
