<!--a href="javascript:void(0)"
   data-uv-lightbox="classic_widget"
   data-uv-mode="feedback"
   data-uv-primary-color="#cc6d00"
   data-uv-link-color="#007dbf"
   data-uv-forum-id="161241">
  <img class="uservoice-icon-narrow"
       src="images/520b39ed.uservoice-32x32.png"
       ng-hide="layout.guide.wide" />
  <img class="uservoice-icon-wide"
       src="images/38274f73.uservoice-32x98.png"
       ng-show="layout.guide.wide" />
</a-->

<img class="uservoice-icon-narrow"
     onClick="showClassicWidget()"
     src="images/520b39ed.uservoice-32x32.png"
     ng-hide="layout.guide.wide" />
<img class="uservoice-icon-wide"
     onClick="showClassicWidget()"
     src="images/38274f73.uservoice-32x98.png"
     ng-show="layout.guide.wide" />
