<h4>
  Custom logon module
</h4>
<div>
  <p>
    Logon using 3rd party authentication through custom extensions.
  </p>
  <p>
    This service is not available yet
  </p>
</div>
<div>
  <button class="btn btn-primary"
          ng-disabled="true"
          ng-click="auth.launchGoogleAuth()">
    Google
  </button>
  <button class="btn btn-primary"
          ng-disabled="true"
          ng-click="auth.launchGoogleOAuth()">
    Google OAuth2
  </button>
  <button class="btn btn-primary"
          ng-disabled="true"
          ng-click="auth.launchLinkedinAuth()">
    LinkedIn
  </button>
  <button class="btn btn-primary"
          ng-disabled="true"
          ng-click="auth.launchPodioAuth()">
    Podio
  </button>
</div>
