<div ng-controller="RibbonController"
     class="guide-ribbon"
     ng-init="ribbon = layout.guide"
     ng-class="{'wide-ribbon': layout.guide.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div ng-click="layout.setView('welcome')"
       ng-class="{'ribbon-item-current': layout.isView('welcome')}"
       class="ribbon-item intro-entry"
       data-intro="Welcome page for 1st Revenue"
       data-position="right"
       data-step="1">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">Welcome</span>
  </div>
  <div ng-click="layout.setView('signin')"
       ng-class="{'ribbon-item-current': layout.isView('signin')}"
       class="ribbon-item intro-entry ribbon-item-green"
       data-intro="Sign in if you already have an account on 1st Revenue"
       data-position="right"
       data-step="2">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">Sign in</span>
  </div>
  <div ng-click="layout.setView('register')"
       ng-class="{'ribbon-item-current': layout.isView('register')}"
       class="ribbon-item intro-entry ribbon-item-blue"
       data-intro="Create or modify an account on 1st Revenue"
       data-position="right"
       data-step="3">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">Register</span>
  </div>
  <!--div ng-click="layout.setView('guest')"
       ng-class="{'ribbon-item-current': layout.isView('guest')}"
       class="ribbon-item intro-entry ribbon-item-orange"
       data-intro="Guest access is planned but not implemented yet"
       data-position="right"
       data-step="4">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">Guest access</span>
  </div-->
  <!--div zzz-ng-click="introJs('.intro-entry').start()"
       ng-click="$('.guide-ribbon').chardinJs('start')"
       class="ribbon-item intro-entry"
       data-intro="Help"
       data-position="right"
       data-step="5">
    <i class="icon-help icon-2x"></i>
    Explain
  </div-->

  <div ng-include src="'views/ribbon/LicenseIcon.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
