<div ng-controller="RibbonController"
     class="guide-ribbon">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div ng-click="ribbon.guide.show('welcome')"
       ng-class="{'ribbon-item-current': ribbon.guide.current('welcome')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    Welcome
  </div>
  <div ng-click="ribbon.guide.show('logon')"
       ng-class="{'ribbon-item-current': ribbon.guide.current('logon')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    Log on
  </div>
  <div ng-click="ribbon.guide.show('signup')"
       ng-class="{'ribbon-item-current': ribbon.guide.current('signup')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    Sign up
  </div>
  <div ng-click="ribbon.guide.show('guest')"
       ng-class="{'ribbon-item-current': ribbon.guide.current('guest')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    Guest access
  </div>

  <div ng-include src="'views/ribbon/License.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
