<div class="container-fluid"
     ng-show="layout.isView('logon')">
  <div class="row-fluid">
    <div class="span1"></div>

    <div class="span10">
      <h2>Sign in to the 1st Revenue</h2>

      <div class="logon">
        <h3 ng-hide="user.authFailed">
          Searching and retrieving the previous session...
        </h3>
        <div ng-show="user.authFailed">

          <label class="checkbox">
            <input type="checkbox"
                   ng-model="auth.rememberMe" />
            Remember the selected account
          </label>

          <div class="alert alert-error alert-block"
               ng-show="user.error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{user.error.code}}</h4>
            {{user.error.message}}
            <div>
              <button class="btn btn-primary"
                      ng-click="layout.setView('signup')">
                Sign up
              </button>
              for a new 1st Revenue account
            </div>
          </div>

          <!--div ng-repeat="pr in providerList() | orderBy:'seq'"
               class="well signup-detached">
            <div>
              {{pr.title}}
            </div>
            <div class="clearfix">
              <button class="btn btn-success btn-small pull-right"
                      ng-click="auth.launchLogon(pr.method, pr.provider)">
                Log on
                <i class="icon-chevron-right"></i>
              </button>
              <button class="btn btn-small disabled"
                      ng-show="pr.icon">
                <i class="icon-{{pr.icon}}"></i>
              </button>
            </div>
          </div-->
          <div>
            <span class="signin-button">
              <img src="images/logon/facebook/45d6eb5a.Signin-246x54.png"
                   ng-click="auth.launchLogon('simple', 'facebook')" />
            </span>
            <span class="signin-button">
              <img src="images/logon/linkedin/442e6927.Signin-246x54.png"
                   ng-click="auth.launchLogon('singly', 'linkedin')" />
            </span>
          </div>
          <div>
            <span class="signin-button">
              <img src="images/logon/gplus/a81dc389.Signin-246x54.png"
                   ng-click="auth.launchLogon('singly', 'gplus')" />
            </span>
            <span class="signin-button">
              <img src="images/logon/gcontacts/3163b2e3.Signin-246x54.png"
                   ng-click="auth.launchLogon('singly', 'gcontacts')" />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="span1"></div>
  </div>
</div>
