<div ng-controller="RegisterController"
     class="container-fluid register-page"
     ng-show="layout.isView('register')">

  <h2 class="text-center"
      ng-hide="me.mp.user.profile.ready">
    Create 1st Revenue account
  </h2>

  <h2 class="text-center"
      ng-show="me.mp.user.profile.ready">
    Modify 1st Revenue account
  </h2>

  <div class="well well-large register-profile"
       ng-hide="me.mp.user.profile.ready">
    Attach one or more accounts to build your 1st Revenue profile
  </div>

  <!--div class="alert alert-danger alert-block"
       ng-show="me.error">
    <p ng-show="me.error.code">Code: <strong>{{me.error.code}}</strong></p>
    <p ng-show="me.error.message">{{me.error.message}}</p>
    <p ng-show="_.isString(me.error)">{{me.error}}</p>
  </div-->

  <fieldset class="well well-large register-profile container-fluid"
       ng-show="me.mp.user.profile.ready">
    <legend class="register-connected">
      Connected identities
    </legend>
    <div ng-repeat="(key, s) in me.mp.services"
         class="alert alert-success alert-block row-fluid">
      <div class="span9">
        <span first-revenue-service-icon="key"></span>
        <img ng-src="{{s.image}}"
             ng-show="s.image"
             class="user-icon" />
        <img ng-src="images/bbf82395.light_avatar_small.png"
             ng-hide="s.image"
             class="user-icon" />
        {{s.name}}
      </div>
      <button class="btn btn-danger span3"
              ng-click="register.detach(key)">
        <i class="icon-remove"></i>
        Detach
      </button>
    </div>

    <div>
      <button class="btn btn-success btn-large"
              ng-show="me.mp.user.profile.ready"
              ng-click="cr.saveChanges()">
        <i class="icon-save"></i>
        Save changes
      </button>
    </div>
  </fieldset>

  <fieldset class="well well-large register-attached container-fluid">
    <legend class="register-supported">
      Supported services
    </legend>
    <div ng-repeat="(key, pr) in register.unusedProviders() | orderBy:'seq'"
         class="alert alert-info alert-block row-fluid">
      <div class="span9">
        <span first-revenue-service-icon="key"></span>
        <span>
          {{pr.title}}
        </span>
      </div>
      <button class="btn btn-primary span3"
              ng-click="register.attach(key)">
        <i class="icon-plus"></i>
        Attach
      </button>
    </div>

    <div ng-hide="_.size(register.unusedProviders())">
      All supported services are already connected to the account
    </div>
  </fieldset>
</div>
