<div class="container flat-nephritis"
     ng-show="layout.isView('signin')">
  <div class="row">
    <div class="col-xs-12">
      <!--h2>Sign in to the 1st Revenue</h2-->

      <div class="logon">
        <h3 ng-hide="me.authFailed">
          Searching and retrieving the previous session...
        </h3>
        <div ng-show="me.authFailed">
          <div ng-show="me.error">
            <div ng-include="'views/entry/SigninOptions.html'"></div>
          </div>

          <div ng-hide="me.error">
            <div ng-include="'views/entry/SigninButtons.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
