<!--div>
  <img src="images/logon/facebook/06161055.Logo-40x40.png"
       class="pull-left"/>
  Attach<br />Facebook<br/>account
</div>
<div>
  <img src="images/logon/linkedin/07838720.Logo-40x40.png"
       class="pull-left"/>
  Attach<br />LinkedIn<br/>account
</div>
<div>
  <img src="images/logon/gplus/8250a9db.Logo-40x40.png"
       class="pull-left"/>
  Attach<br />Google+<br/>account
</div>
<div>
  <img src="images/logon/gcontacts/e6b97902.Logo-40x40.png"
       class="pull-left"/>
  Attach<br />Gmail<br/>account
</div-->

<div ng-repeat="pr in providerList() | orderBy:'seq'"
     class="well signup-detached"
     ng-class="{'signup-hooked': pr.attached}">
  <div>
    {{pr.title}}
  </div>
  <div class="clearfix">
    <button class="btn btn-success btn-small pull-right"
            ng-hide="pr.attached"
            ng-click="signUp.attach(pr.provider)">
      Attach
      <i class="icon-chevron-right"></i>
    </button>
    <button class="btn btn-small disabled"
            ng-show="pr.icon">
      <i class="icon-{{pr.icon}}"></i>
    </button>
  </div>
</div>

<!--button class="btn btn-primary"
        ng-click="openAuth()">
  Auth
</button-->

