<h4>
  Social network identity
</h4>
<div>
  Logon quickly with your existing social network account. We use only the minimum information available in user's public profile, such as user's name, e-mail, and photo.
</div>
<div>
  <!--button class="btn btn-primary"
          ng-click="auth.launchGoogleAuth()">
    Google
  </button>
  <button class="btn btn-primary"
          ng-click="auth.launchGoogleOAuth()">
    Google OAuth2
  </button-->
  <button class="btn btn-primary"
          ng-click="auth.launchFacebookAuth()">
    Facebook
  </button>
  <button class="btn btn-primary"
          ng-click="auth.launchTwitterAuth()">
    Twitter
  </button>
  <button class="btn btn-primary"
          ng-click="auth.launchGithubAuth()">
    Github
  </button>
  <!--button class="btn btn-primary"
          ng-click="auth.launchPodioAuth()">
    Podio
  </button-->
</div>
