<div class="hero-unit"
     ng-show="layout.isView('welcome')">
  <p style="float: right;">
    <button ng-click="layout.setView('logon')"
            class="btn btn-success">
      <i class="icon-user icon-white"></i>
      Log on
    </button>
    <br />
    <br />
    <button ng-click="layout.setView('signup')"
            class="btn btn-primary">
      <i class="icon-user icon-white"></i>
      Sign up
    </button>
    <br />
    <br />
    <button ng-click="layout.setView('guest')"
            class="btn btn-warning">
      <i class="icon-user icon-white"></i>
      Guest
    </button>
  </p>
  <h1><span style="color: red">1st</span> Revenue</h1>
  <h2>Business Model Generation</h2>
  <p>Online tool for business model development and collaboration</p>
</div>
