<div class="modal-editor-form">
  <fieldset class="model-editor-fields container">
    <div class="row">
      <div class="control-group col-xs-12"
           ng-class="{error: nameError}">
        <h4>
          <img ng-src="{{canvas.model.fields.icon}}"
               class="new-model-icon" />
          {{canvas.model.fields.name}}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="zzz-model-editor-users model-editor-user-panel col-xs-6">
        <!--button class="btn btn-success btn-sm pull-right"
                ng-hide="userPanel"
                ng-click="userPanel=true;">
          Manage users
        </button-->
        <label class="control-label">Model users</label>
        <input type="text"
               id="user-typeahead"
               class="input-xlarge"
               placeholder="Add users"
               ng-model="userTypeAhead"
               first-revenue-typeahead="tahDataset"
               data-selection="tahSelection"
               zzz-bs-typeahead="getUserTypeahead" />
        <div class="controls">
          <span ng-repeat="(userId, userValue) in canvas.model.users track by userId">
            <img ng-src="{{sync.peers[userId].image}}"
                 class="user-icon"
                 ng-show="sync.peers[userId].image"
                 title="{{sync.peers[userId].name}}" />
            <img ng-src="images/bbf82395.light_avatar_small.png"
                 class="user-icon"
                 ng-hide="sync.peers[userId].image"
                 title="{{sync.peers[userId].name}}" />
          </span>
        </div>
      </div>
      <div class="model-editor-friend-panel col-xs-6">
        <div class="row">
          <div class="col-xs-12">Partners and friends</div>
        </div>
        <div class="row">
          <div class="col-xs-6">Service</div>
          <div class="col-xs-3">Partners</div>
          <div class="col-xs-3">Friends</div>
        </div>
        <div class="row">
          <div class="col-xs-6">Facebook</div>
          <div class="col-xs-3">3</div>
          <div class="col-xs-3">321</div>
        </div>
        <div class="row">
          <div class="col-xs-6">LinkedIn</div>
          <div class="col-xs-3">1</div>
          <div class="col-xs-3">65</div>
        </div>
        <div class="row">
          <div class="col-xs-6">Google+</div>
          <div class="col-xs-3">6</div>
          <div class="col-xs-3">1314</div>
        </div>
      </div>
      <div class="model-editor-friend-panel col-xs-6">
        <label class="control-label">Load all friends</label>
        <button class="btn btn-default btn-sm"
                ng-click="loadFacebookFriends()">
          Facebook (321)
        </button>
        <button class="btn btn-default btn-sm"
                ng-click="loadLinkedInFriends()">
          LinkedIn (65)
        </button>
        <button class="btn btn-default btn-sm"
                ng-click="loadGooglePlusFriends()">
          Google+ (1314)
        </button>
      </div>
    </div>
  </fieldset>
</div>
