<!--div class="pane-icon app-icon-24 icon-{{block.iconId}}"></div-->

<div class="pane-name-box">
  <div class="pane-name-cell">
    <div class="pane-name">
      <div class="pull-left app-icon-24 icon-{{block.iconId}}"></div>
      {{block.name}}
    </div>
  </div>
</div>

<button class="pane-button btn btn-success"
        ng-if="isModelEditable()"
        title="New sticker">
  <i class="icon-plus icon-white"></i>
</button>

<div class="pane-initials"
     ng-show="canvas.showBlockInitials">
  {{block.initials}}
</div>

<div class="st-box"></div>

<ul class="{{canvas.getStyle()}} pane-sticker">
  <div class="stickynotes">

    <li ng-repeat="(stickerId, sticker) in getStickers(blockId)"
        ng-controller="StickerController"
        class="st-item">
      <div ng-if="!isModelEditable()">
        <div ng-include="'views/canvas/StickerReadOnly.html'"></div>
      </div>
      <div ng-if="isModelEditable()">
        <div ng-include="'views/canvas/StickerEditable.html'"></div>
      </div>
    </li>

  </div>
</ul>
