<div ng-controller="RibbonController"
     class="guide-ribbon"
     ng-init="ribbon = layout.guide"
     ng-class="{'wide-ribbon': layout.guide.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="ribbon-item">
    <a href="#/repo">
      <i class="icon-folder-open icon-2x"></i>
    </a>
    <span ng-show="ribbon.wide">
      Repo
    </span>
  </div>
  <div ng-click="modal.model=true"
       zzz-ng-class="{'ribbon-item-current': modal.model}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="ribbon.wide">
      Model
    </span>
  </div>
  <div ng-click="layout.setView('canvas'); modal.model=false"
       ng-class="{'ribbon-item-current': layout.isView('canvas') || modal.model, 'ribbon-item-dark': layout.editor.sticker}"
       class="ribbon-item">
    <i class="icon-th icon-2x"></i>
    <span ng-show="ribbon.wide">
      Canvas
    </span>
  </div>

  <div ng-include src="'views/ribbon/License.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
