<div ng-controller="RibbonController"
     class="guide-ribbon"
     ng-init="ribbon = layout.guide"
     ng-class="{'wide-ribbon': layout.guide.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="ribbon-item">
    <a href="#/repo">
      <i class="icon-folder-open icon-2x"></i>
      <span ng-show="layout.guide.wide">
        Repo
      </span>
    </a>
  </div>
  <!--div ng-click="modal.model=true;modal.newModel=false;"
        ng-class="{'ribbon-item-current': modal.model}"
        class="ribbon-item" -->
  <div ng-click="layout.setView('model'); layout.guide.wide = true; layout.peer.wide = false;"
       ng-class="{'ribbon-item-current': layout.isView('model')}"
       class="ribbon-item">
    <i class="icon-list-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Edit model
    </span>
  </div>
  <div ng-click="layout.setView('users'); layout.guide.wide = true; layout.peer.wide = false;"
       zzz-ng-hide="layout.isView('canvas') || layout.isView('zoom')"
       ng-class="{'ribbon-item-current': layout.isView('users')}"
       class="ribbon-item">
    <i class="icon-user icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Model users
    </span>
  </div>
  <!--div ng-click="layout.setView('friends'); layout.guide.wide = true; layout.peer.wide = true;"
       ng-hide="layout.isView('canvas')"
       ng-class="{'ribbon-item-current': layout.isView('friends')}"
       class="ribbon-item">
    <i class="icon-cloud icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Social friends
    </span>
  </div-->
  <div ng-click="layout.setView('canvas'); layout.guide.wide = false; layout.peer.wide = false;"
       ng-class="{'ribbon-item-current': layout.isView('canvas'), 'ribbon-item-dark': layout.editor.sticker}"
       class="ribbon-item">
    <i class="icon-th icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Canvas
    </span>
  </div>

  <div ng-click="layout.setView('zoom'); layout.guide.wide = false; layout.peer.wide = false;"
       ng-class="{'ribbon-item-current': layout.isView('zoom'), 'ribbon-item-dark': layout.editor.sticker}"
       class="ribbon-item">
    <i class="icon-zoom-in icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Zoom
    </span>
  </div>

  <div ng-click="layout.setView('comment'); layout.guide.wide = false; layout.peer.wide = false;"
       ng-class="{'ribbon-item-current': layout.isView('comment')}"
       class="ribbon-item ribbon-item-green">
    <i class="icon-comments-alt icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Comment
    </span>
  </div>

  <div ng-click="layout.setView('list'); layout.guide.wide = false; layout.peer.wide = false;"
       ng-class="{'ribbon-item-current': layout.isView('list')}"
       class="ribbon-item ribbon-item-blue">
    <i class="icon-list icon-2x"></i>
    <span ng-show="layout.guide.wide">
      Sticker list
    </span>
  </div>

  <div ng-include src="'views/ribbon/LicenseIcon.html'"></div>
  <div ng-include src="'views/ribbon/Uservoice.html'"></div>
</div>
