<div class="canvas"
     ng-class="layout.getLayoutClasses()">

  <!--div class="model-logotype"-->
  <img class="model-logotype"
       ng-src="{{canvas.model.fields.icon}}"
       ng-style="canvas.getLogoStyle()" />
  <!--/div-->
  <div ng-if="!canvas.singleBlock"
       class="map-envelope">
    <div ng-repeat="(blockId, block) in getBlocks()"
         zzz-first-revenue-open-tip="{{blockId}}"
         first-revenue-edit="{{blockId}}"
         data-label="{{blockId}}"
         data-id="{{blockId}}"
         class="pane {{blockId}} {{canvas.getGridClass()}}"
         ng-class="{'hover-pane': hovering && isModelEditable()}"
         ng-mouseenter="hovering = true"
         ng-mouseleave="hovering = false">

      <div ng-include="'views/canvas/BMG.html'"
           onLoad="purpose = canvas.bmg.getBlockPurpose(blockId)"
           ng-show="_.size(getStickers(blockId)) == 0">
      </div>

      <div ng-include="'views/canvas/Block.html'"></div>
    </div>
  </div>
  <div ng-if="canvas.singleBlock"
       class="map-envelope">
    <div ng-repeat="(block, blockId) in getBlocks()"
         first-revenue-edit="{{blockId}}"
         data-label="{{blockId}}"
         data-id="{{blockId}}"
         class="pane {{blockId}} {{canvas.getGridClass()}}"
         ng-click="canvas.switchBlock({icon: blockId})">

      <div ng-include="'views/canvas/Block.html'"></div>

      <div ng-include="'views/canvas/BMG.html'"
           onLoad="purpose = canvas.bmg.getBlockPurpose(blockId)"
           ng-show="_.size(getStickers(blockId)) == 0">
      </div>
    </div>

    <!--div ng-click="zoom.zoom(0)"
         class="pane pane-small ALL">
        <img ng-src="icons/zoom/Zoom-0-transp.png" />
    </div-->

    <!--div ng-init="block = canvas.singleBlock"
         first-revenue-open-tip="XXC"
         first-revenue-edit="XXC"
         data-label="{{block.paneClass}}"
         data-id="{{block.id}}"
         class="pane XXC {{canvas.getGridClass()}}">
      <div ng-include="'views/canvas/Block.html'"></div>
    </div-->
  </div>
  </div>
</div>

<div ng-include="'views/canvas/ManageUsers.html'"></div>

<div ng-include="'views/canvas/SideComments.html'"></div>
<div ng-include="'views/canvas/SideStream.html'"></div>
<div ng-include="'views/canvas/SideList.html'"></div>

<!--div ng-include="'views/edit/Model.html'"></div-->

<div ng-include="'views/edit/Sticker.html'"></div>

<!--div ng-include="'views/edit/User.html'"></div-->

<!--div ng-include="'views/edit/Contact.html'"></div-->

<div ng-include="'views/canvas/QRCode.html'"></div>
