<div class="model-user-envelope"
     ng-class="{'model-user-envelope-hidden': !layout.share}">
  <div class="model-user-panel"
       ng-class="{'business-card-shown': businessCard}"
       ng-controller="ModelController">
    <div class="model-user-search-side">
      <div ng-include="'views/canvas/ModelUserTypeahead.html'"></div>
      <div ng-include="'views/canvas/ModelUserSearch.html'"></div>
    </div>

    <div class="model-user-list-side">
      <i class="icon-remove icon-2x close-button"
         ng-click="layout.share = false"></i>
      <div class="invites-and-users">
        <div ng-if="!_.isEmpty(canvas.model.invites)"
             ng-include="'views/canvas/ModelUserInvites.html'"></div>
        <div ng-if="!_.isEmpty(canvas.model.users)"
             ng-include="'views/canvas/ModelUserList.html'"></div>
      </div>
    </div>
    <div ng-include="'views/canvas/UserBusinessCard.html'"></div>
  </div>
</div>
