<div class="modal-editor-form">
  <fieldset class="model-editor-fields container">
    <div class="row">
      <div class="form-group col-xs-6"
           ng-class="{error: nameError}">
        <label class="control-label"
               for="model-name">
          <span ng-hide="pitchWordCount() > 100">Model name</span>
          <span ng-show="pitchWordCount() > 100">Name of the novel</span>
          <span style="color: red">*</span>
        </label>
        <div class="controls">
          <input type="text"
                 ng-disabled="canvas.readOnly"
                 autofocus
                 id="model-name"
                 class="form-control"
                 placeholder="Model name"
                 ng-required
                 ng-model="canvas.model.fields.name" />
          <p ng-if="!canvas.readOnly"
             class="help-block text-right"
             ng-show="name==''">Please specify the model name</p>
        </div>
      </div>
      <div class="form-group col-xs-6">
        <label class="control-label"
               ng-hide="canvas.model.fields.icon"
               for="attach-model-icon">Icon</label>
        <button ng-if="!canvas.readOnly"
                id="attach-model-icon"
                ng-hide="canvas.model.fields.icon"
                class="btn btn-success"
                ng-click="fp.attachIcon(canvas.model)">
          Attach icon
        </button>
        <label class="control-label"
               ng-show="canvas.model.fields.icon"
               for="attach-model-icon">Icon</label>
        <button ng-if="!canvas.readOnly"
                id="replace-model-icon"
                ng-show="canvas.model.fields.icon"
                class="btn btn-warning btn-sm"
                ng-click="fp.replaceIcon(canvas.model)">
          Replace icon
        </button>
        <img ng-src="{{canvas.model.fields.icon}}"
             ng-show="canvas.model.fields.icon"
             class="new-model-icon" />
        <button ng-if="!canvas.readOnly"
                ng-show="canvas.model.fields.icon"
                class="btn btn-danger btn-sm"
                ng-click="fp.removeIcon(canvas.model)">
          Remove icon
        </button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label"
               for="model-descr">Description</label>
        <div class="controls">
          <textarea class="form-control"
                    ng-disabled="canvas.readOnly"
                    id="model-descr"
                    ng-model="canvas.model.fields.descr"
                    placeholder="Description">
          </textarea>
          <!-- (document.activeElement.id === 'model-descr')  tests focus on this textarea -->
        </div>
      </div>
      <div class="form-group col-xs-6">
      <span class='pitch-word-count'>
        <span ng-show="pitchWordCount() == 1"
              style="color: rgb({{pitchRed()}}, {{pitchGreen()}}, 0);">
          One word
        </span>
        <span ng-show="pitchWordCount() > 1"
              style="color: rgb({{pitchRed()}}, {{pitchGreen()}}, 0);">
          {{pitchWordCount()}} words
        </span>
      </span>
        <label class="control-label"
               for="model-pitch">Elevator pitch</label>
        <div class="controls">
          <textarea class="form-control"
                    ng-disabled="canvas.readOnly"
                    id="model-pitch"
                    ng-model="canvas.model.fields.pitch"
                    placeholder="Elevator pitch in 100 words">
          </textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <button type="submit"
                ng-if="!canvas.readOnly"
                class="btn btn-success pull-right"
                ng-click="finish()"
                ng-disabled="!canvas.model.fields.name || canvas.model.fields.name == ''">
          Finish
        </button>
        <button class="btn btn-warning"
                ng-click="copyModel()">
          Copy model
        </button>
      </div>
      <div class='form-group pitch-remarks col-xs-6'
           ng-if="!canvas.readOnly">
        <div ng-show="pitchWordCount() === 0">
          Sum up unique aspects of your service or product in a way that excites others
        </div>
        <div ng-show="pitchWordCount() > 0">
          <div>
            <a href="http://www.alumni.hbs.edu/careers/pitch/"
               target="_blank">
              Elevator Pitch Builder
            </a>
            from Harvard Business School
          </div>
          <div>
            <a href="http://www.businessweek.com/stories/2007-06-18/the-perfect-elevator-pitchbusinessweek-business-news-stock-market-and-financial-advice"
               target="_blank">
              The Perfect (Elevator) Pitch
            </a>
            by Aileen Pincus
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label">Model users</label>
        <div class="controls">
        <span ng-repeat="(userId, userValue) in canvas.model.users track by userId">
          <img ng-src="{{sync.peers[userId].image}}"
               class="user-icon"
               ng-show="sync.peers[userId].image"
               title="{{sync.peers[userId].name}}" />
          <img ng-src="images/bbf82395.light_avatar_small.png"
               class="user-icon"
               ng-hide="sync.peers[userId].image"
               title="{{sync.peers[userId].name}}" />
        </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
