<div class="picker-header">
  <div class="section-title"
     ng-click="pickGroup('social')">
    <i ng-show="isPickVisible('social')"
       class="icon-chevron-sign-down"></i>
    <i ng-hide="isPickVisible('social')"
       class="icon-chevron-sign-right"></i>
    Social accounts ({{ _.size(sync.user.accounts) }})
  </div>
  <div class="section-help"
       ng-click="toggleHelp('social')">
    <i class="icon-question-sign"></i>
  </div>
</div>

<div class="help-text"
     ng-show="showHelp('social')">
  <p>
    A list of your social accounts allows to fetch full list of your contacts from each social network.
    Click the button to load the contacts for the duration of the current 1st Revenue session.
  </p>
  <p>
    Once accounts were loaded they will be shown in a separate list for each social network and
    they can be filtered by typing the first few letters of name.
  </p>
</div>

<div class="picker-body"
     ng-show="isPickVisible('social')">

  <div ng-repeat="account in sync.user.accounts"
       class="picker-item">
    <!--input type="checkbox"
           ng-click="refreshFriendDataset(account)"
           ng-class="{'hidden-button': !social.loaded[account.profile.service]}"
           ng-disabled="!social.loaded[account.profile.service]"
           ng-model="tah.social[account.profile.service]" /-->
    <span first-revenue-service-icon="account.profile.service"></span>

    <button class="btn btn-sm btn-warning"
            ng-disabled="social.loading[account.profile.service]"
            ng-click="loadAccount(account)"
            ng-hide="social.loaded[account.profile.service]">
      <span ng-hide="social.loading[account.profile.service]">Load</span>
      <span ng-show="social.loading[account.profile.service]">Loading</span>
      {{account.contacts.total}} contacts
    </button>
    <small class="latency-note"
           ng-show="!social.loaded[account.profile.service] && account.contacts.refreshed">
      <small>Seen {{getRefreshLatency(account.contacts.refreshed)}}</small>
    </small>

    <button class="btn btn-default btn-sm"
            ng-disabled="social.loading[account.profile.service]"
            ng-click="refreshAccount(account)"
            ng-show="social.loaded[account.profile.service]">
      <span ng-hide="social.loading[account.profile.service]">Refresh</span>
      <span ng-show="social.loading[account.profile.service]">Refreshing</span>
      {{account.contacts.total}} contacts
    </button>
    <small class="latency-note"
           ng-show="social.loaded[account.profile.service]">
      <small>
        {{getRefreshLatency(account.contacts.refreshed)}}
      </small>
    </small>

  </div>
</div>
