<div class="picker-header">
  <div class="section-title"
       ng-click="pickGroup('partners')">
    <i ng-show="isPickVisible('partners')"
       class="icon-chevron-sign-down"></i>
    <i ng-hide="isPickVisible('partners')"
       class="icon-chevron-sign-right"></i>
    Partners ({{ getSize(sync.user.partners) }})
  </div>
  <div class="section-help"
       ng-click="toggleHelp('partners')">
    <i class="icon-question-sign"></i>
  </div>
</div>

<div class="help-text"
     ng-show="showHelp('partners')">
  <p>Partner list contains people who collaborate on at least one of models or have been invited.</p>
</div>

<div class="picker-body"
     zzz-ng-class="{'picker-collapsed': !isPickVisible('partners')}"
     ng-show="isPickVisible('partners')">
  <!--div ng-repeat="(partnerId, partner) in sync.user.partners track by partnerId | filter:prefixFilter"   -->
  <div ng-repeat="partner in getPartners() | filter:prefixFilter"
       class="picker-item"
       ng-class="{'picker-inactive': wasInvited(partner)}">
    <span first-revenue-service-icon="partner.service"></span>
    <span class="user-show-card"
          ng-click="showBusinessCard('picker', partner)">
      <img ng-src="{{partner.image}}"
           class="user-icon"
           ng-show="partner.image"
           title="{{partner.name}}" />
      <img ng-src="images/bbf82395.light_avatar_small.png"
           class="user-icon"
           ng-hide="partner.image"
           title="{{partner.name}}" />
      <span class="user-name">
        {{partner.name}}
      </span>
    </span>
    <button class="btn btn-warning btn-sm select-button mu-partner-select"
            ng-if="showSelectButton(partner)"
            ng-click="social.addModelInvite(canvas, partner)">
      <i class="icon-chevron-right"></i>
    </button>
  </div>
</div>
