<div class="user-list-invites">
  <div class="user-list-header">
    <div class="section-title"
         ng-click="pickGroup('invites')">
      <i ng-show="isPickVisible('invites')"
         class="icon-chevron-sign-down"></i>
      <i ng-hide="isPickVisible('invites')"
         class="icon-chevron-sign-right"></i>
      Invites ({{ countInvites() }})
    </div>
    <div class="section-help"
         ng-click="toggleHelp('invites')">
      <i class="icon-question-sign"></i>
    </div>
  </div>

  <div class="help-text"
       ng-show="showHelp('invites')">
    <p>List of people who have been invited to collaborate on the current model,
      but do not have 1st Revenue account yet.</p>
    <p>Click on the "Invite" button to send a message to invited user
      via the associated social network messaging.</p>
    <p>The message will contain a link to 1st Revenue registration page
      and reference to the shared model.</p>
    <p>After invited users create new user account in 1st Revenue by clicking on the link,
      they will be directed to the shared model</p>
  </div>

  <div class="user-list-body"
       ng-show="isPickVisible('invites')">
    <div ng-repeat="(inviteId, inviteValue) in sync.models[canvas.modelId].invites track by inviteId"
         ng-show="sync.invites[inviteId].status!=='accepted'"
         class="user-list-item">
      <button class="btn btn-default btn-sm delete-button"
              ng-class="{'hidden-button': !showInviteRemoveButton(inviteId)}"
              ng-click="deleteInvite(inviteId)">
        <i class="icon-remove"></i>
      </button>
      <span first-revenue-service-icon="sync.invites[inviteId].service"></span>
      <span class="user-show-card"
            ng-click="showInviteCard(inviteId)">
        <img ng-src="{{sync.invites[inviteId].image}}"
             class="user-icon"
             ng-show="sync.invites[inviteId].image"
             title="{{sync.invites[inviteId].name}}" />
        <img ng-src="images/bbf82395.light_avatar_small.png"
             class="user-icon"
             ng-hide="sync.invites[inviteId].image"
             title="{{sync.invites[inviteId].name}}" />
        <span class="invite-name">
          {{sync.invites[inviteId].name}}
        </span>
      </span>

      <button class="btn btn-success btn-sm invite-button"
              ng-click="social.updateInvite(inviteId)"
              ng-if="sync.invites[inviteId].status=='created' && sync.invites[inviteId].service == 'facebook'">
        Invite
      </button>
      <button first-revenue-gapi-interactive-post="{{sync.invites[inviteId].serviceId}}"
              class="btn btn-success btn-sm invite-button"
              ng-if="sync.invites[inviteId].status=='created' && sync.invites[inviteId].service == 'gplus'">
        Invite
      </button>
      <button class="btn btn-success btn-sm invite-button"
              data-toggle="modal"
              data-target="#modalLinkedIn"
              ng-if="sync.invites[inviteId].status=='created' && sync.invites[inviteId].service == 'linkedin'">
        Invite
      </button>

      <button class="btn btn-primary btn-sm invite-button"
            zzz-ng-disabled="true"
            ng-click="social.updateInvite(inviteId)"
            ng-if="sync.invites[inviteId].status=='sent' && sync.invites[inviteId].service == 'facebook'">
        Notify
      </button>
      <button first-revenue-gapi-interactive-post="{{sync.invites[inviteId].serviceId}}"
              class="btn btn-primary btn-sm invite-button"
              zzz-ng-disabled="true"
              ng-if="sync.invites[inviteId].status=='sent' && sync.invites[inviteId].service == 'gplus'">
        Notify
      </button>
      <button class="btn btn-primary btn-sm invite-button"
              zzz-data-toggle="modal"
              zzz-data-target="#modalLinkedIn"
              ng-click="social.launchLinkedInModal(inviteId, sync.invites[inviteId])"
              ng-if="sync.invites[inviteId].status=='sent' && sync.invites[inviteId].service == 'linkedin'">
        Notify
      </button>
    </div>
  </div>
</div>
