<div class="picker-header"
     ng-click="pickGroup('groups')">
  <i class="icon-question-sign pull-right"
     ng-click="toggleHelp('groups')"></i>
  <i ng-show="isPickVisible('groups')"
     class="icon-chevron-sign-down"></i>
  <i ng-hide="isPickVisible('groups')"
     class="icon-chevron-sign-right"></i>
  Groups
</div>

<div class="help-text"
     ng-show="showHelp('groups')">
  You can create a groups of people that you collaborate with most often and
  use one click to share models with the members of group.
</div>

<div class="picker-body"
     zzz-ng-class="{'picker-collapsed': !isPickVisible('groups')}"
     ng-show="isPickVisible('groups')">
  <div class="picker-item">
    Group-alpha
  </div>
  <div class="picker-item">
    Group beta
  </div>
  <div class="picker-item">
    Group gamma
  </div>
  <div class="picker-item">
    Group delta
  </div>
</div>
