<div ng-repeat="dataset in tah.dataset"
     class="social-picker"
     ng-show="dataset.count > 0">
  <div class="picker-header"
       ng-click="pickGroup(dataset.service)">
    <span class="pull-right"
          first-revenue-service-icon="dataset.service"></span>
    <i ng-show="isPickVisible(dataset.service)"
       class="icon-chevron-sign-down"></i>
    <i ng-hide="isPickVisible(dataset.service)"
       class="icon-chevron-sign-right"></i>
    {{ dataset.serviceTitle }} contacts
    <span ng-show="_.size(dataset.local) > 0">
      ({{ _.size(dataset.local) }})
    </span>
  </div>
  <div class="picker-body"
       ng-show="isPickVisible(dataset.service)">
    <div ng-repeat="friend in dataset.local | filter:prefixFilter"
         class="picker-item"
         ng-class="{'picker-inactive': wasInvited(friend)}">
      <span first-revenue-service-icon="dataset.service"></span>
      <img ng-src="{{friend.image}}"
           class="user-icon"
           ng-show="friend.image"
           title="{{friend.name}}" />
      <img ng-src="images/bbf82395.light_avatar_small.png"
           class="user-icon"
           ng-hide="friend.image"
           title="{{friend.name}}" />
      <span class="invite-name">
        {{ friend.name }}
      </span>

      <button class="btn btn-warning btn-small select-button"
              ng-hide="wasInvited(friend)"
              ng-click="social.addModelInvite(canvas, friend)">
        <i class="icon-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
