<div ng-controller="RibbonController"
     class="peer-ribbon">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="user-count">
    {{ribbon.peerCount()}}
  </div>

  <div class="add-new-member">
    <div class="add-new-member-icon"></div>
  </div>

  <!--div ng-repeat="dbuser in db.users"
       ng-show="dbuser.id != user.account.id"-->
  <div ng-repeat="userKey in canvas.model.members"
       class="ribbon-item"
       ng-class="{'ribbon-item-current': ribbon.isMyself(userKey)}">
    <img ng-src="{{db.users[userKey].image}}"
         title="{{db.users[userKey].name}}" />
  </div>
  <div ng-include src="'views/ribbon/Signal.html'"></div>
</div>
