<div ng-controller="RibbonController"
     class="peer-ribbon"
     ng-init="ribbon = layout.peer"
     ng-class="{'wide-ribbon': layout.peer.wide}">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="peer-count">
    {{canvas.peerCount()}}
  </div>

  <div class="add-new-peer">
    <div class="add-new-peer-icon"></div>
  </div>

  <!--div ng-repeat="dbuser in db.users"
       ng-show="dbuser.id != user.account.id"-->
  <div ng-repeat="userKey in canvas.model.members"
       class="ribbon-item"
       ng-class="{'ribbon-item-current': user.isMyself(userKey)}">
    <img ng-src="{{db.users[userKey].account.image}}"
         ng-show="db.users[userKey].account.image"
         title="{{db.users[userKey].account.name}}" />
    <img ng-src="images/bbf82395.light_avatar_small.png"
         ng-hide="db.users[userKey].account.image"
         title="{{db.users[userKey].account.id}}" />
  </div>
  <div ng-include src="'views/ribbon/Signal.html'"></div>
</div>
