<div ng-controller="RibbonController"
     class="peer-ribbon">
  <div ng-include src="'views/ribbon/Drag.html'"></div>

  <div class="user-count">
    {{userCount()}}
  </div>

  <div class="add-new-member">
    <div class="add-new-member-icon"></div>
  </div>

  <!--div ng-repeat="dbuser in db.users"
       ng-show="dbuser.id != user.account.id"-->
  <div ng-repeat="dbuser in db.users">
    <img ng-src="{{dbuser.image}}" />
  </div>
  <div ng-include src="'views/ribbon/Signal.html'"></div>
  <img src="images/06dd3e96.signal-green.png"
       class="signal-icon"
       ng-show="firebase.connected" />
  <img src="images/9b1398fb.signal-red.png"
       class="signal-icon"
       ng-hide="firebase.connected" />
</div>
