<div class="canvas-side-list"
     ng-class="{'canvas-side-hidden': !layout.stickerList}"
     ng-controller="StickerListController">
  <div class="sticker-count">
    {{_.size(sync.models[canvas.modelId].stickers)}} stickers
  </div>

  <div class="sticker-list"
       ng-repeat="(blockId, block) in getBlocks()">
    <div class="pane-name">
      <div class="app-icon-24 icon-{{block.iconId}}"></div>
      {{block.name}}
    </div>
    <div ng-repeat="(stickerId, sticker) in getStickers(blockId)"
         class="media">
      <span class="pull-left sticker-block"
            style="background-color: #{{rainbow.brighten(sticker.color)}}">
        {{sticker.block}}
      </span>
      <div class="media-body">
        <button class="btn btn-default btn-sm pull-right"
                ng-click="modifySticker(sticker)">
          Modify
        </button>
        <h4 class="media-header">{{sticker.title}}</h4>
        <div><small>{{sticker.notes}}</small></div>
      </div>
    </div>
  </div>
</div>
