<div class="model-user-business-card {{ businessCard.type }}-business-card">
  <div class="business-card-edge"></div>

  <div class="business-card-body">
    <img class="business-card-image"
         ng-show="businessCard.image"
         ng-src="{{ businessCard.image }}">
    <img class="business-card-image"
         ng-hide="businessCard.image"
         ng-src="//graph.facebook.com/1/picture?type=large">
         <!-- ng-src="http://s.c.lnkd.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" -->
    <div class="user-name">{{ businessCard.name }}</div>
    <div class="business-card-text">
      <p>
        Service: <strong>{{ businessCard.serviceTitle }}</strong>
        Id: <strong>{{ businessCard.serviceId }}</strong>
      </p>
      <p ng-show="businessCard.description">
        Description: <strong>{{ businessCard.description }}</strong>
      </p>
      <p ng-show="businessCard.work">
        Work: <strong>{{ businessCard.work }}</strong>
      </p>
      <p ng-show="businessCard.location">
        Location: <strong>{{ businessCard.location }}</strong>
      </p>
      <p ng-show="businessCard.email">
        E-mail: <strong>{{ businessCard.email }}</strong>
      </p>
      <p class="business-card-acl">
        <span class="acl-button">
          <button class="btn btn-xs"
                  ng-click="selectDefaultPermissions(businessCard)">
            {{ getDefaultPermission(businessCard) }}
          </button>
          <!--div class="btn-group btn-group-xs">
            <button class="btn btn-sm"
                    ng-class="getACLClass(businessCard)"
                    data-trigger="popover"
                    data-html="true"
                    data-placement="bottom"
                    data-trigger="click"
                    data-title="Default permissions for {{ businessCard.name }}"
                    data-content="{{ getDefaultPopoverContent(businessCard) }}"
                    data-container=".business-card-acl">
              {{ getACLType(businessCard) }}
            </button>

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option1"> Option 1
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2"> Option 2
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option3"> Option 3
              </label>
            </div>

            <span ng-class="{'btn-default': !aclNone(), 'btn-info': aclNone()}"
                  class="btn">None</span>
            <span ng-class="{'btn-default': !aclView(), 'btn-success': aclView()}"
                  class="btn">View</span>
            <span ng-class="{'btn-default': !aclEdit(), 'btn-warning': aclEdit()}"
                  class="btn">Edit</span>
            <span ng-class="{'btn-default': !aclFull(), 'btn-danger': aclFull()}"
                  class="btn">Full</span>
          </div-->
        </span>
          Default permissions for {{ businessCard.name }}
      </p>
      <p class="btn-group btn-group-xs business-card-acl">
        <button class="btn btn-xs"
                ng-click="selectDefaultPermissions(businessCard)">
          {{ getModelPermission(businessCard) }}
        </button>
        <!--span ng-class="{'btn-default': !aclNone(), 'btn-info': aclNone(canvas.modelId)}"
              class="btn">None</span>
        <span ng-class="{'btn-default': !aclView(), 'btn-success': aclView(canvas.modelId)}"
              class="btn">View</span>
        <span ng-class="{'btn-default': !aclEdit(), 'btn-warning': aclEdit(canvas.modelId)}"
              class="btn">Edit</span>
        <span ng-class="{'btn-default': !aclFull(), 'btn-danger': aclFull(canvas.modelId)}"
              class="btn">Full</span-->
          Partner permissions for {{ canvas.model.fields.name }}
      </p>
      <!--p class="btn-group btn-group-xs business-card-acl">
        <span ng-class="{'btn-default': !aclNone(), 'btn-info': aclNone(canvas.modelId)}"
              class="btn">None</span>
        <span ng-class="{'btn-default': !aclView(), 'btn-success': aclView(canvas.modelId)}"
              class="btn">View</span>
        <span ng-class="{'btn-default': !aclEdit(), 'btn-warning': aclEdit(canvas.modelId)}"
              class="btn">Edit</span>
        <span ng-class="{'btn-default': !aclFull(), 'btn-danger': aclFull(canvas.modelId)}"
              class="btn">Full</span>
          Effective permissions for {{ canvas.model.fields.name }}
      </p-->
    </div>
    <i class="icon-remove icon-2x close-button"
       ng-click="hideBusinessCard()"></i>
    <div class="business-card-buttons">
      <span ng-show="businessCard.type == 'partner'">
        <button class="btn btn-primary btn-sm invite-button"
                ng-click="social.notifyUser(userId, canvas.modelId)">
          Notify
        </button>
      </span>
      <span ng-show="businessCard.type == 'invite'">
        <button class="btn btn-success btn-sm invite-button"
                ng-click="social.updateInvite(businessCard.inviteId)"
                ng-if="sync.invites[businessCard.inviteId].status=='created'">
          Invite
        </button>
        <button class="btn btn-primary btn-sm invite-button"
                ng-click="social.updateInvite(businessCard.inviteId)"
                ng-if="sync.invites[businessCard.inviteId].status=='sent'">
          Notify
          <!-- Resend invite -->
        </button>
      </span>
      <span ng-show="businessCard.type == 'user'">
        <button class="btn btn-primary btn-sm invite-button"
                ng-click="social.notifyUser(userId, canvas.modelId)">
          Notify
        </button>
      </span>
    </div>
  </div>
</div>
